/*#container .socketsContainer section{
	align-self: flex-end;
	height: 125px;
}
#container .socketsContainer>section{
	 flex: 1 1 200px;
}
#container .socketsContainer>section:first-child{
	flex: 1 0 200px;
}
#container .socketsContainer>section:nth-child(2){
	flex: 1 0 230px;
}
#container .socketsContainer>section:nth-child(2+n){
	flex: 1 0 190px;
}
.socketsContainer section:not(:last-child)>div{
	display: inline-block;
	width: 150px;
	vertical-align: bottom;
}
.socketsContainer ul{
	list-style-position: inside;
	list-style-type: none;
	display: inline-block;
	padding: 0px;
    margin: 0px;
}
.socketsContainer ul li{
    margin: 15px 0px 0px 0px;
    text-align: right;
}
.socketStatusDiv{
	position: relative;
}
.socketNumber{
	text-align: center; 
	border: 0.15em dashed #2A2252;
	font-weight: 700; 
	font-size: 115%; 
	position: absolute;
	padding: 10px;
	bottom: 55%;
	right: 5%;
}
#container .socketStatusDiv .rj45Socket{
    margin: 2%;
	width: 55%;
}
.socketStatusDiv button{
	position: absolute;
	width: 40%;
	height: 20%;
	text-align: center;
	bottom: 3%;
}*/
#container section.socketStatusImageBlock img.c13Socket {
    margin: 2%;
    width: 70%;
    position: absolute;
    bottom: 15%;
    left: 0%;
}

.socketStatusTextOn {
    font-weight: bold;
    color: green;
}

.socketStatusTextOff {
    font-weight: bold;
    color: red;
}

.c13SocketCover {
    background-color: #F30800;
    width: 6.35%;
    height: 8%;
    position: absolute;
    border-radius: 1em 1em 0.4em 0.4em;
    opacity: 1;

    /*orange color #ff8000, green color #25DE00; red #F30800, black #0D0C0C */
}

#container .rj45Socket {
    /*width: 77.89%;	*/
    width: 65%;
}

/*********************************/
#container .socketsContainer:hover{
    border-color: cornflowerblue;
    background-color: aliceblue;
}
#container .socketsContainer section{
    box-sizing: border-box;
}

#container .socketsContainer section:not(:last-child) {
    border-right: 1px dashed grey;
}

#container section.socketStatusImageBlock {
    flex: 0 0 220px;
    position: relative;
    box-sizing: border-box;
    padding-left: 180px;
    /*  border: 3px dotted deeppink;*/
    height: 125px;
}

#container section.socketStatusImageBlock img {
    margin: 2%;
    width: 50%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.socketNumber {
    text-align: center;
    border: 0.15em dashed #2A2252;
    font-weight: 700;
    font-size: 115%;
    position: absolute;
    padding: 0px 10px;
    bottom: 70%;
    right: 5%;
}

#container section.socketStatusImageBlock button {
    position: absolute;
    width: 40%;
    height: 20%;
    text-align: center;
    right: 0%;
    bottom: 3%;
}

#container section.socketSwitcher {
    flex: 0 0 230px;
    /*  border: 3px dotted deeppink;*/
    height: 125px;
}

#container section.socketSwitcher ul,
#container section.socketCurrentStat ul,
#container section.socketRulesSchedules ul {
   /* display: inline-table;*/
   display: inline-block;
    /* vertical-align: baseline;*/
    margin-top: 10%;
}

#container section.socketCurrentStat ul {
    margin-top: 14%;
}

#container section.socketRulesSchedules ul {
    margin-top: 5%;
}

#container section.socketSwitcher ul:first-child {
    text-align: right;
    /*width: 80px;*/
    width: 34%;
}

#container section.socketSwitcher ul:first-child li:not(:first-child) {
    font-weight: bold;
    color: #626262;
    font-size: 90%
}

#container section.socketSwitcher ul:not(:first-child) {
    text-align: center;
    width: 145px;
}

#container section.socketSwitcher ul li,
#container section.socketCurrentStat ul li {
    height: 30px;
}

#container section.socketCurrentStat {
    flex: 0 0 175px;
    /*border: 3px dotted brown;*/
    height: 125px;
}

#container section.socketCurrentStat ul:first-child {
    text-align: right;
   /* width: 100px;*/
    width: 50%;
    font-weight: bold;
    color: #626262;
    font-size: 90%;
}

#container section.socketCurrentStat ul:not(:first-child) {
    text-align: center;
    width: 47.5%;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 95%;
    font-style: italic;
}

#container section.socketStatCharts {
    flex: 0 0 200px;
    /* border: 2px solid green;*/
}

.socketStatCharts button {
    margin-top: 5%;
    width: 80%;
}

.socketStatCharts ul {
    width: 95%;
    margin: 0% auto;
}

.socketStatCharts ul li:not(:first-child) {
    text-align: center;
}

.socketStatCharts ul li:first-child {
    height: 60px;
    position: relative;
}

.socketStatCharts ul li:first-child span {
    position: absolute;
    color: #626262;
    font-size: 90%;
    bottom: 40%;
    left: 0%;
}

.socketStatCharts textarea {
    margin-left: 37%;
    width: 60%;
    height: 90%;
    overflow: auto;
}

.socketStatCharts ul li:not(:first-child) {
    height: 30px;
}
.socketStatCharts div{
   position: relative;  
   width: 100%;
   margin: 0px;
   height: 100%; 
}
/********************** Hidden buttons for saving|canceling records in comments*/
ul.hidden-buttons-container{
    position: absolute;
    margin: 0px;
    bottom: 0px;
    width: 100%;
    /* height: 52%; */
    height: 49%;
    z-index: 1;
    background-color: #f0f8ff;
}
section .socketStatCharts ul.hidden-buttons-container li{
    height: 45%;
    text-align: center;
    /*margin-top: 15%;*/
}
button.hidden-button-apply{
    height:65%;
    width: 75%;
    border: solid 0.05em rgb(108, 172, 108);
    background: linear-gradient(to top right, rgba(154, 250, 154, 0.836), rgba(228, 233, 227, 0.63), rgba(154, 250, 154, 0.836));
    font-family: 'Helvetica';
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 85%;
    color: green;
    border-radius: 0.3em;
}
button.hidden-button-cancel{
    height:65%;
    width: 75%;
    border: solid 0.05em rgb(187, 85, 119);
    background: linear-gradient(to top right, rgba(250, 213, 202, 0.836), rgba(212, 167, 145, 0.63), rgba(233, 217, 217, 0.342));
    font-family: 'Helvetica';
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 85%;
    color: rgba(73, 4, 25, 0.815);
    border-radius: 0.3em;
}
button.hidden-button-apply:hover{
    color: white;
   
    background: linear-gradient(to top, rgba(244, 252, 244, 0.836), rgba(228, 233, 227, 0.63) 1%, rgba(233, 217, 217, 0.342) 90%);
    background-color: green;
}
button.hidden-button-cancel:hover{
    color: white;
    background:linear-gradient(to bottom left, rgba(250, 213, 202, 0.836), rgba(212, 167, 145, 0.63), rgba(233, 217, 217, 0.342));
    background-color: red;
}
/**********************End of Hidden buttons for saving|canceling records in comments*/

#container section.socketRulesSchedules {
    flex: 0 0 190px;
    /* border: 2px solid red;*/
}

#container section.socketRulesSchedules div {
    margin-top: 5%;
}

.socketRulesSchedules ul:first-child {
    width: 95px;
    padding-left: 5px;
    font-weight: bold;
    color: #626262;
    font-size: 90%
}

.socketRulesSchedules ul li {
    height: 35px;
}

.socketRulesSchedules ul:not(:first-child) {
    width: 85px;
}

.socketRulesSchedules ul:not(:first-child) li {
    padding-left: 10px;
}

.socketRulesSchedules li button {
    width: 100%;
    font-weight: 700;
}

.socketRulesSchedules div>div {
    margin: 0% auto 2% auto;
    width: 80%;
}

@media only screen and (min-width: 1080px) and (max-width: 5000px) {
    #container .socketsContainer section:not(:last-child) {
        border-right: 1px dashed grey;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1080px) {
    #container .socketsContainer section.socketStatusImageBlock {
        border-bottom: 1px dashed grey;
    }

    #container .socketsContainer section.socketStatCharts {
        border-right: none;
    }
}

@media only screen and (min-width: 600px) and (max-width: 950px) {
    #container .socketsContainer section.socketStatusImageBlock {
        border-bottom: none;
    }

    #container .socketsContainer section.socketSwitcher,
    #container .socketsContainer section.socketCurrentStat {
        border-bottom: 1px dashed grey;
    }
}


@media only screen and (min-width: 800px) and (max-width: 1080px) {
    #container .socketsContainer section.socketStatusImageBlock {
        border-bottom: 1px dashed grey;
    }

    #container .socketsContainer section.socketStatCharts {
        border-right: none;
    }
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
    #container .socketsContainer section:not(:last-child) {
        border-bottom: 1px dashed grey;
        border-right: none;
    }
}

/*@media only screen and (min-width: 800px) and (max-width: 1000px){
	#container .socketsContainer section.socketStatusImageBlock{
        border-bottom: 1px dashed grey;
    }
    #container .socketsContainer section.socketStatCharts{
         border-right: none;
    }
} */