/*body{background-color: grey; height: 100%; max-height: auto; overflow: auto;}

@font-face{
font-family: 'Lucida Grande';
}	
.container{position: absolute; max-width: 100%; width: 100%; max-height: auto; height: 93%; 
	background-color: silver; */
/*font-family: 'San Francisco Text Regular';*/


/*}


.topLeftStat{
	 width: 24.5%; 
	 height: 22%; 
}	
.mainTable{ width: 96%; height: 96%; max-height: auto; 
	background: linear-gradient(to bottom, #F5F5F5 0%, #FFFFFF 100%);
	 border: solid; border-color: green; border-radius: 0.5em 0.5em 0.5em 0.5em ; 
	 border-width: 0.05em; margin-left: 2%; margin-top: 1%; table-layout: fixed;}	 
.separateString{font-family: Helvetica; font-size: 105%; font-weight: 700; width: 100%; 
	text-align: left;
	*/
/*border-bottom: dotted 2px blue;*/
/*}	 

#mainPageInfoLeftTopTable{width: 100%; height: 100%; background-color: #F5F5F5; 
	padding-top: 0%; table-layout: fixed;

}
#navigationPanelTable{width: 93%; height: 3%; background-color: #F5F5F5; color: white; padding-top: 0%; margin-left: 3%; margin-right: 3%; text-align: center;  border-collapse: separate; border-bottom: 1px dotted blue;
  font-weight: 700;table-layout: fixed;
  */
/*table-layout: fixed;*/

/* }
#mainData{ width:  100%; height: 100%; table-layout: fixed;}  
#mainPageInfoLeftBottomTable{width: 42%; height: 40%;  color: Black; padding-top: 0%; padding-left: 0%; display: inline-table; }
#mainPageInfoRightBottomTable{width: 57%; height: 40%; color: Black; padding-top: 0%; padding-left: 10%; padding-right: 0%; display: inline-table; }
.staticLeft{ text-align: left; padding-left: 2%;}
.staticRight{ text-align: right;} 
.staticCenter {text-align: center;}
.navDiv{ width: 100%; height: 100%; background-color: #3800BA; font-size: 100%; border-collapse: collapse; border-radius: 5px 5px 5px 5px; border-color: green; border-width: 5px;}
*/
/*@-ms-viewport{
	width: device-width;
	user-scalable: yes;
	initial-scale: 1.5;
  }*/

@font-face {
	font-family: 'Lucida Grande';
}

.keyDataFont {
	font-weight: 700;
}

html{
	height: auto;
	 min-height: 100%; 
}

body {
	margin: 0px;
	padding: 0px;
	background: linear-gradient(to bottom, #F5F5F5 0%, #FFFFFF 100%);
	/*padding: 10px;*/
	height: 100%;
	/*720px;*/
	width: 100%;
	/*max-height: 100%;*/
}
div>main>header{
	position:fixed;
	z-index:1; 
	width: 100%;
	height: 100%; 
	margin: 0%;
	padding: 0%;
	left: 0px;
	top: 0px;
}
header h1{
	display: none;
}
header .modalWindow{
	width: 100%; 
	height: auto; 
	padding: 0px;
	margin: 0px;
	/* position: relative; */
	/* position:fixed; 
	z-index:1; */
	text-align: center;
 padding: 1% 0%; 
	background: linear-gradient( rgba(114, 97, 97, 0.897),rgb(196, 185, 185));
	color: whitesmoke;
	font-size: 120%;
}
header .modalWindow p{
	margin: 0px;
}
header .modalWindow ul{
	
}
header ul.modalButtonsContainer{
	margin-top: 1%;
}
header ul.modalButtonsContainer li{
	 display: inline;
}
header ul.modalButtonsContainer button{
	 font-family: Helvetica;
	 font-weight: bold;
	 border: solid 0;
	 color: rgb(94, 51, 59);
	 padding: 0.5% 1%;
}
header ul.modalButtonsContainer li:not(:last-child){
	 margin-right: 2%;
}
header ul.modalButtonsContainer button.modalButtons_apply{
	 color: green;
}
header ul.modalButtonsContainer button.modalButtons_cancel{
	color: crimson;
}
header ul.modalButtonsContainer button:hover{
	color: white;
}
header ul.modalButtonsContainer button.modalButtons_apply:hover{
	background-color: rgba(28, 167, 28, 0.705);
}
header ul.modalButtonsContainer button.modalButtons_test:hover{
	background-color: rgb(94, 51, 59);
}
header ul.modalButtonsContainer button.modalButtons_cancel:hover{
	background-color: crimson;
}

.AuthPage{
	 height: 100%;
	 width: auto;
	 /* padding: 10% 0% 0% 35%; */
	 /* margin: 0% auto; */
	 padding-top: 15%;
}
.AuthPage div{
	 /* margin: 0% auto; */
	 text-align: center; 
}
.AuthPage p{
	/* margin: 1% 10%;  */
	 /* text-align: center;  */
}
.AuthPage ul{
	 display: inline-table;
	 /* vertical-align: middle;	  */
}
.AuthPage ul li{
	 text-align: right;
	 margin-bottom: 3%;
}
.AuthPage ul li input{
	 width: 90%;
}
.loginLabels li{
	margin-top: 15%;
}

article.pageGlobal {
	/* margin: 1%; */
	margin: 0%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	position: relative;
	min-height: 100%;
}
.greenBorderClass{
	margin: 0.5%;
	border: 0.05em dashed green;
	border-radius: 0.5em;
}
/*article>div:not(div:first-child){
	width: 100%;
}*/
/*article.pageGlobal div:first-child{
	flex: 2 0 300px;
	display: flex;
	flex-wrap: wrap;
}*/
.headerContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

section.releInteractiveImg {
	flex: 25 0 280px;
	background-color: inherit;
	/*background-color: antiquewhite;*/
	height: 110px;
	/*border-bottom: 1px dotted brown;*/
	/*border-right: 1px dotted brown;*/
	border-right: 0.05em dashed grey;
}

section.releInteractiveImg img:first-child {
	width: 99%;
	margin: 1% 0.5% 0% 0.5%;
}

section div.powerBlock {
	height: 40px;
	position: relative;
	text-align: right;
	/*padding-right: 55px;*/
	padding-right: 8%;
	color: rgb(12, 142, 248);
}

section.releInteractiveImg img.powerIcons {
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 22%;
	right: 0.2%;
	transform: rotate(135deg);
}

section.topRightStat {
	height: 110px;
	flex: 1 0 280px;
	background-color: inherit;
	/*border-bottom: 1px dotted brown;*/
}

section #mainPageInfoLeftTopTable {
	width: 280px;
	margin: 0px auto;
}

section.topRightStat .wirelessSignal {
	position: relative;
}

section.topRightStat .mobileSignalStrength {
	position: absolute;
	display: inline;
	top: -49px;
	right: 15px;
}

section.topRightStat .mobileSignalStrength img {
	width: 8px;
}
div.navigationContainer{
	width: 100%;
}
section.mainNavigation {
	/*flex: 1 1 300px;*/
	width: 100%;
	text-align: center;
	height: 30px;
	/*background-color: rgba(250, 242, 225, 0.747);*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-bottom: 1px dotted blue;
}

ul {
	list-style-position: inside;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul.navigationList {
	margin: 7px 0px;
	/*margin-left: -40px;*/
}

.navigationList>li {
	display: inline-block;
}

.navigationList a {
	text-decoration: none;
	padding: 0px 10px;
	font-weight: 700;
	background-color: #3800BA;
	color: white;
	border-radius: 5px;
}

article div.contentContainer {
	width: 100%;
}

section#container {
	/*flex: 1 1 300px;*/
	width: 100%;
	background-color: inherit;
	margin-top: 10px;
	min-height: 350px;
	/*	position: absolute;
	top: 20%;
	bottom: 0px;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: flex-start;
	/*height: 0%;*/
}

#container .separateString {
	flex: 20 1 900px;
	font-family: Helvetica;
	font-size: 105%;
	font-weight: 700;
	font-family: Helvetica;
	font-size: 105%;
	text-align: left;
	margin-left: 1%;
	/*border-bottom: dotted 2px blue;*/
}

#container .leftColumn,
#container .middleColumn,
#container .rightColumn,
#container section {
	flex: 0 0 300px;
}

#container img {
	width: 100%;
}

#container .switchButtonContainer>* {
	display: inline-block;
	vertical-align: middle;
}

#container .serviceHeader {
	border-style: none none dashed none;
	border-color: silver;
	border-width: 0.1em;
	font-weight: bold;
	margin-bottom: 10px;
}

#container section table td:first-child {
	width: 155px;
}

#container section table input {
	width: 95px;
}

/*#container *{
	background-color: transparent;
	
}*/
#container .socketsContainer {
	border: 0.15em solid #706870;
	/*width: 99%;*/
	flex: 0 1 1020px;
	/*flex: 0 1 99.5%;*/
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: flex-start;
	margin-bottom: 5px;
}
#container img[src="assets/img/comingSoon.png"]{
	width: 70%;
}

footer {
	text-align: right;
}

/*@media only screen and (max-width: 600px) {*/
@media only screen and (min-width: 300px) and (max-width: 900px) {
	section.mainNavigation {
		height: 100%;
	}

	ul.navigationList {
		margin: 5px 8px;
	}

	.navigationList>li {
		margin-top: 5px;
	}

	#container .separateString {
		margin-left: 8px;
	}

	#container section {
		flex: 0 0 295px;
		margin: 0% auto;
	}

	#container section table {
		width: 295px;
		/*margin: 0px 0px;*/
	}
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
	section.releInteractiveImg {

		border-right: none;
	}
}

@media only screen and (max-width: 350px) {
	body {
		width: 300px;
	}
}

@media only screen and (min-width: 350px) {
	body {
		/*width: 98.5%;*/
		width: 100%;
	}

}

@media only screen and (min-width: 2000px){
	html{
		height: 100%;
	}
	.releInteractiveImg div.powerBlock{
		padding-right: 4%;
	 }
	 /* header .modalWindow{
		height: 15%;
	 }
	 header ul.modalButtonsContainer{
			margin-top: 10%;
	 }  */
}
/******  temp *****/
.headerContainer,
.headerContainer section{
	height: auto;
}
.headerContainer section.topRightStat{
	align-self: center;
}
#container .separateString{
	flex: 2 1 3200px;
}
/******** /temp *******/

/***********OLD **********/
/******************/
.showClass{
	opacity: 1;
}
.hideClass{
	opacity: 0;
}
.systemStatCPUBox {

	width: 8em;
	height: 1.05em;
	border: solid;
	border-width: 0.05em;
	border-color: silver;
	background: linear-gradient(to right, #1579EC 5%, #0B59B3 20%, #0BB3B3 35%, #33FF41 45%, #FF6F00 85%, #FF4D00 90%, #FF0000 100%);
	/*   #FFE600 50%, #FF0000 100%);*/

	/*#33ccff 0%, #ff99cc 100%);*/
}

.systemStatCPUBoxProgress {

	background-color: #F5F5F5;
	width: 65%;
	height: 100%;
	opacity: 1;
	float: right;
	clear: both;
}

.staticLeft {
	text-align: left;
	padding-left: 2%;
}

.staticRight {
	text-align: right;
}

.staticCenter {
	text-align: center;
}

nav{
	position: relative;
	width: 100%;
}
.navigationList a.navigation--a__selected {
	background-color: white;
	border: 0.05em solid green;
	color: black;
	text-decoration: none;
	padding: 0px 10px;
	font-weight: 700;
	border-radius: 5px;
}

.navigationList a.navigation--a__notSelected {
	background-color: #3800BA;
	border: none;
	color: white;
	text-decoration: none;
	padding: 0px 10px;
	font-weight: 700;
	border-radius: 5px;
}
a.logout {
	background-color: white;
	border: 0.05em solid rgb(235, 41, 28);
	color:  rgb(235, 41, 28);;
	text-decoration: none;
	padding: 0px 10px;
	font-weight: 700;
	border-radius: 5px;
	position: absolute;
	right: 0%;
	top: 17%;
}

/**** old  CSS**/
.mainTable {
	width: 96%;
	height: 96%;
	max-height: auto;
	background: linear-gradient(to bottom, #F5F5F5 0%, #FFFFFF 100%);
	border: solid;
	border-color: green;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	border-width: 0.05em;
	margin-left: 2%;
	margin-top: 1%;
	table-layout: fixed;
}

/*.separateString{font-family: Helvetica; font-size: 105%; font-weight: 700; width: 100%; text-align: left;
   /*border-bottom: dotted 2px blue;*/
/*}*/

/*#mainPageInfoLeftTopTable{width: 100%; height: 100%; background-color: #F5F5F5; padding-top: 0%; table-layout: fixed;

}*/
#navigationPanelTable {
	width: 93%;
	height: 3%;
	background-color: #F5F5F5;
	color: white;
	padding-top: 0%;
	margin-left: 3%;
	margin-right: 3%;
	text-align: center;
	border-collapse: separate;
	border-bottom: 1px dotted blue;
	font-weight: 700;
	table-layout: fixed;
	/*table-layout: fixed;*/

}

#mainData {
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

#mainPageInfoLeftBottomTable {
	width: 42%;
	height: 40%;
	color: Black;
	padding-top: 0%;
	padding-left: 0%;
	display: inline-table;
}

#mainPageInfoRightBottomTable {
	width: 57%;
	height: 40%;
	color: Black;
	padding-top: 0%;
	padding-left: 10%;
	padding-right: 0%;
	display: inline-table;
}

.staticLeft {
	text-align: left;
	padding-left: 2%;
}

.staticRight {
	text-align: right;
}

.staticCenter {
	text-align: center;
}

/*.navPanelCell{ border-top-left-radius: 20px; border-top-right-radius: 20px; }*/
.navDiv {
	width: 100%;
	height: 100%;
	background-color: #3800BA;
	font-size: 100%;
	border-collapse: collapse;
	border-radius: 5px 5px 5px 5px;
	border-color: green;
	border-width: 5px;
}

.slideSwitchBoxOn {
	width: 4em;
	height: 1.1em;
	background-color: #0E47FF;
	border: solid;
	border-radius: 1em 1em 1em 1em;
	border-color: #2894FF;
	border-width: 0.1em;
}

.slideSwitchBoxOnnn {

	width: 4em;
	height: 1.1em;
	background-color: #E8EAEC;
	border: solid;
	border-radius: 1em 1em 1em 1em;
	border-color: #2894FF;
	border-width: 0.1em;
}

.slideSwitchBoxOff {

	width: 4em;
	height: 1.1em;
	background-color: #E8EAEC;
	border: solid;
	border-radius: 1em 1em 1em 1em;
	border-color: #082E55;
	border-width: 0.1em;
}

.slideSelectorSwitchedOn {
	width: 1em;
	height: 1em;
	margin-top: 0.05em;
	margin-left: 2.95em;
	border-radius: 1em 1em 1em 1em;
	background-color: #FAFAFA;
}

.slideSelectorSwitchedOff {
	width: 1em;
	height: 1em;
	margin-top: 0.05em;
	margin-left: 0.05em;
	border-radius: 1em 1em 1em 1em;
	background-color: black;
}

.splitTable {
	width: 100%;
	height: 100%;
	border-collapse: separate;
}

.keyDataFont {
	font-weight: 700;
}

#container .simCard {
	width: 75%;
	-ms-transform: rotate(90deg);
	/* IE 9 */
	-webkit-transform: rotate(90deg);
	/* Safari */
	transform: rotate(90deg)
}

.activeCommunicationPageButton {
	margin-left: 3%;
	font-family: Helvetica;
	font-size: 85%;
	font-weight: bold;
	width: 12%;
	/* background-color: #2196F3;*/
	background-color: white;
	color: black;
	border: solid;
	border-width: 0.1em;
	border-color: green;
	border-radius: 0.3em;
	box-shadow: 0em -0.2em 1.5em 0.1em #D4D4D4;
	display: inline-table;
	text-align: center;
}

.passiveCommunicationPageButton {

	margin-left: 3%;
	font-family: Helvetica;
	font-size: 85%;
	font-weight: bold;
	width: 12%;
	/*background-color: #E1E1E1;*/
	color: grey;
	border: solid;
	border-width: 0.1em;
	border-color: silver;
	border-radius: 0.2em;
	display: inline-table;
	text-align: center;
}

.passiveCommunicationPageButton:Hover {

	background-color: #009C00;
	border-color: white;
	color: white;
}

.rowColor {

	color: #626262;
}

#ethernetComRadio {
	color: red;
}

#varPageContainer {

	width: 100%;
	height: 100%;
	overflow: auto;
}

.socketSwitchedOnLeftText {

	color: #0D0C0C;
	font-weight: 700;
	opacity: 0.45;
}

.socketSwitchedOnRightText {

	color: green;
	font-weight: 700;
}

.socketSwitchedOffLeftText {

	color: red;
	font-weight: 700;
}

.socketSwitchedOffRightText {

	color: #0D0C0C;
	font-weight: 700;
	opacity: 0.45;
}

.positiveStatus {

	color: green;
}

.negativeStatus {

	color: red;
}

.rebootButton {
	background-color: white;
	border: solid;
	border-radius: 50em;
	border-color: #330099;
	color: #330099;
	/*width: 40%;*/
	width: 100%;
	height: 100%;
	border-width: 0.1em;
	text-align: center;
}

.rebootButton2 {

	color: black;
	border: solid;
	border-width: 0.1em;
	border-color: #2e2e2e;
	width: 100%;
	height: 100%;
	text-align: center;
	border-radius: 50em;
}

.rebootButton2:Hover {

	background-color: #330099;
	color: white;
}

.rebootButton:Hover {

	background-color: #330099;
	color: white;
}

.addEditButton {

	background-color: white;
	border: solid;
	border-radius: 0em;
	border-color: #330099;
	color: #330099;
	width: 80%;
	height: 100%;
	border-width: 0.1em;
	text-align: center;
	opacity: 1;
	font-family: Helvetica;
	font-size: 87%;
	margin-left: 10%;
}

.twenty {
	background-color: green;
	width: 100%;
	height: 20%;
	display: inline;
}

.forty {
	background-color: green;
	width: 100%;
	height: 40%;
	display: inline;
}

.sixty {
	background-color: green;
	width: 100%;
	height: 60%;
	display: inline;
}

.eighty {
	background-color: green;
	width: 100%;
	height: 80%;
	display: inline;
}

.ninety {
	background-color: green;
	width: 100%;
	height: 100%;
	display: inline;
}

.strangeTable {
	width: 25%;
	height: 100%;
	margin-left: 3%;
}

.apply {

	background-color: white;
	border: solid;
	border-radius: 0.2em;
	border-color: #DF7700;
	color: #DF7700;
	width: 10%;
	height: 100%;
	border-width: 0.1em;
	text-align: center;
	opacity: 1;
	font-family: Helvetica;
	font-size: 100%;
	margin-left: 2%;
	display: inline-table;
}

.apply:Hover {

	background-color: #DF7700;
	border-color: #DF7700;
	color: white;

}

.test {

	background-color: white;
	border: solid;
	border-radius: 0.2em;
	border-color: green;
	color: green;
	width: 10%;
	height: 100%;
	border-width: 0.1em;
	text-align: center;
	opacity: 1;
	font-family: Helvetica;
	font-size: 100%;
	margin-left: 32.5%;
	display: inline-table;
}

.test:Hover {

	background-color: green;
	border-color: green;
	color: white;

}

.cancel {

	background-color: white;
	border: solid;
	border-radius: 0.2em;
	border-color: #330099;
	color: #330099;
	width: 10%;
	height: 100%;
	border-width: 0.1em;
	text-align: center;
	opacity: 1;
	font-family: Helvetica;
	font-size: 100%;
	margin-left: 32.5%;
	display: inline-table;
}

.cancel:Hover {

	background-color: #330099;
	border-color: #330099;
	color: white;
}

.borderRightTable {

	border-right: dashed;
	border-color: silver;
	border-width: 0.2em;
}

.refreshButton {
	width: 50%;
}

.AirScanButton {
	border: solid;
	border-color: silver;
	border-width: 0.1em;
	color: #706870;
	border-radius: 0.2em;
	text-align: center;
	width: 100%;
	margin-left: 90%;
}

.AirScanButton:Hover {
	background-color: #009C00;
	border-color: white;
	color: white;
}

.addEditButton2 {
	border: solid;
	/*border-width: 0.1em;*/
	border-radius: 0.2em;
	text-align: center;
	width: 100%;
	margin-left: 0%;
	font-family: Helvetica;
	font-size: 87%;
	/*color: #706870; border-color: silver;*/
	color: #2e2e2e;
	border-color: #2e2e2e;
	border-width: 0.05em;
    background-color: #F0F0F0;
}

.addEditButton2:Hover {
	background-color: #330099;
	border-color: #330099;
	color: white;
}

#ussdAtResult {

	font-family: Helvetica;
	font-size: 80%;
	background-color: #FCFCFC;
	border-radius: 0.1em;
	border: solid;
	border-color: brown;
	border-style: dotted;
	font-weight: normal;
	color: #262626;
	border-width: 0.2em;
}

.powerIcons {

	transform: rotate(135deg);
	width: 10%;
}

/*input[type="text"]{*/
/*input:radio{
	
	border:solid; border-width: 0.2em; border-color: #3d7ee5; background-color: white;
}*/
input[type="text"],
textarea,
select,
radio {
	border: solid;
	border-width: 0.2em;
	/*border-color: #F5F5F5; */
	border-color: #CACACA;
	background-color: white;
}

input[type="text"]:Hover,
textarea:Hover,
select:Hover,
radio:Hover {
	/*[type="text"]:Hover{*/

	border: solid;
	border-width: 0.2em;
	border-color: #3d7ee5;
	background-color: white;
}

input[type="text"]:focus,
textarea:focus,
select:focus,
radio:focus {
	/*[type="text"]:Active{*/

	border: solid;
	border-width: 0.2em;
	border-color: #3d7ee5;
	background-color: white;
}