<table>
    <tr>
        <td>Type:</td>
        <td>{{comEthStat.type}}</td>
    </tr>
    <tr>
        <td>MAC:</td>
        <td>{{comEthStat.mac}}</td>
    </tr>
    <tr>
        <td>IPv4:</td>
        <td>{{comEthStat.ipV4}}</td>
    </tr>
    <tr>
        <td>IPv6:</td>
        <td>{{comEthStat.ipV6}}</td>
    </tr>
    <tr>
        <td>Network:</td>
        <td>{{comEthStat.network}}</td>
    </tr>
    <tr>
        <td>Speed:</td>
        <td>{{comEthStat.speed}}</td>
    </tr>
    <tr>
        <td>Traffic In:</td>
        <td>{{comEthStat.trafficIn}}</td>
    </tr>
    <tr>
        <td>Traffic Out:</td>
        <td>{{comEthStat.trafficOut}}</td>
    </tr>
</table> 