<table>
    <tr>
        <td>Type:</td>
        <td>{{comMobileStat.type}}</td>
    </tr>
    <tr>
        <td>IMEI:</td>
        <td>{{comMobileStat.imei}}</td>
    </tr>
    <tr>
        <td>MAC:</td>
        <td>{{comMobileStat.mac}}</td>
    </tr>
    <tr>
        <td>IPv4:</td>
        <td>{{comMobileStat.ipV4}}</td>
    </tr>
    <tr>
        <td>IPv6:</td>
        <td>{{comMobileStat.ipV6}}</td>
    </tr>
    <tr>
        <td>Network:</td>
        <td>{{comMobileStat.network}}</td>
    </tr>
    <tr>
        <td>Cell Name:</td>
        <td>{{comMobileStat.cellName}}</td>
    </tr>
    <tr>
        <td>Number:</td>
        <td>{{comMobileStat.number}}</td>
    </tr>
    <tr>
        <td>Signal:</td>
        <td>{{comMobileStat.signalLevel}}</td>
    </tr>
    <tr>
        <td>Tariff:</td>
        <td>{{comMobileStat.tariff}}</td>
    </tr>
    <tr>
        <td>Speed:</td>
        <td>{{comMobileStat.speed}}</td>
    </tr>
    <tr>
        <td>Traffic In:</td>
        <td>{{comMobileStat.trafficIn}}</td>
    </tr>
    <tr>
        <td>Traffic Out:</td>
        <td>{{comMobileStat.trafficOut}}</td>
    </tr>
</table> 
/*************IPv4*************/
<table>
    <tr>
        <td><span>IPv4 address:	</span></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><span>Netmask v4:</span></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><span>Gateway v4:</span></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><span>Primary DNS v4:</span></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><span>Secondary DNS v4:</span></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><span>MTU:</span></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><span>MAC Address Cloning:</span></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><span>MAC Address:</span></td>
        <td><input type="text"></td>
    </tr>
</table>        
/*************//IPv4*************/

<ul>
    <li>Rules:</li>
    <li></li>
    <li><button>Add new rule</button></li>
    <li>Schedules:</li>
    <li></li>
    <li><button>Add/Edit all</button></li>
    <li>Commutations stat</li>
    <li><button>show stat</button></li>
</ul>

