/*****************Section**/////////
<div class="Bridge">
    <section>
        <ul>
            <li><span class="TitleClass">Status</span></li>
            <li><div class="switchButtonContainer">
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF </div>
                <div ng-class="[poe[$index].status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']" ng-click="turnOnOff(poe, {'switcherFor': 'poe', 'switcherId': $index, 'currentStatus': poe[$index].status});">
                    <div ng-class="[poe[$index].status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                </div>
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']"> ON</div>
            </div></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Interface</span></li>
            <li><select ng-model="poeSocket.outVoltage" ng-change="showModalWindow()" ng-options="poeSocketVoltage+' V' for poeSocketVoltage in poeSocket.avlOut"
                ng-disabled="!poe[$index].status">
               </select></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">STP</span></li>
            <li><div class="switchButtonContainer">
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF </div>
                <div ng-class="[poe[$index].status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']" ng-click="turnOnOff(poe, {'switcherFor': 'poe', 'switcherId': $index, 'currentStatus': poe[$index].status});">
                    <div ng-class="[poe[$index].status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                </div>
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']"> ON</div>
            </div></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Port</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Comment</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Action</span></li>
            <li><button>Add</button></li>
        </ul>
    </section>
</div>   
<div class="IPAliases">
    <section>
        <ul>
            <li><span class="TitleClass">Status</span></li>
            <li><div class="switchButtonContainer">
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF </div>
                <div ng-class="[poe[$index].status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']" ng-click="turnOnOff(poe, {'switcherFor': 'poe', 'switcherId': $index, 'currentStatus': poe[$index].status});">
                    <div ng-class="[poe[$index].status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                </div>
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']"> ON</div>
            </div></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Interface</span></li>
            <li><select ng-model="poeSocket.outVoltage" ng-change="showModalWindow()" ng-options="poeSocketVoltage+' V' for poeSocketVoltage in poeSocket.avlOut"
                ng-disabled="!poe[$index].status">
               </select></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">IP Address</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Netmask</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Comment</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Action</span></li>
            <li><button>Add</button></li>
        </ul>
    </section>
</div>   
<div class="Interfaces">
    <section>
        <ul>
            <li><span class="TitleClass">Status</span></li>
            <li><div class="switchButtonContainer">
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF </div>
                <div ng-class="[poe[$index].status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']" ng-click="turnOnOff(poe, {'switcherFor': 'poe', 'switcherId': $index, 'currentStatus': poe[$index].status});">
                    <div ng-class="[poe[$index].status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                </div>
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']"> ON</div>
            </div></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Interface</span></li>
            <li><select ng-model="poeSocket.outVoltage" ng-change="showModalWindow()" ng-options="poeSocketVoltage+' V' for poeSocketVoltage in poeSocket.avlOut"
                ng-disabled="!poe[$index].status">
               </select></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">MTU</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Comment</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Action</span></li>
            <li><button>Add</button></li>
        </ul>
    </section>
</div>   
<div class="Static Routes IPv4">
    <section>
        <ul>
            <li><span class="TitleClass">Status</span></li>
            <li><div class="switchButtonContainer">
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF </div>
                <div ng-class="[poe[$index].status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']" ng-click="turnOnOff(poe, {'switcherFor': 'poe', 'switcherId': $index, 'currentStatus': poe[$index].status});">
                    <div ng-class="[poe[$index].status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                </div>
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']"> ON</div>
            </div></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Target Network IP</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Netmask</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Gateway IP</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Comment</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Action</span></li>
            <li><button>Add</button></li>
        </ul>
    </section>
</div>   
<div class="Static Routes IPv6">
    <section>
        <ul>
            <li><span class="TitleClass">Status</span></li>
            <li><div class="switchButtonContainer">
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF </div>
                <div ng-class="[poe[$index].status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']" ng-click="turnOnOff(poe, {'switcherFor': 'poe', 'switcherId': $index, 'currentStatus': poe[$index].status});">
                    <div ng-class="[poe[$index].status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                </div>
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']"> ON</div>
            </div></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Target Network IP</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Netmask</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Gateway IP</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Comment</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Action</span></li>
            <li><button>Add</button></li>
        </ul>
    </section>
</div>  
<div class="Vlan">
    <section>
        <ul>
            <li><span class="TitleClass">Status</span></li>
            <li><div class="switchButtonContainer">
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF </div>
                <div ng-class="[poe[$index].status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']" ng-click="turnOnOff(poe, {'switcherFor': 'poe', 'switcherId': $index, 'currentStatus': poe[$index].status});">
                    <div ng-class="[poe[$index].status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                </div>
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']"> ON</div>
            </div></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Interface</span></li>
            <li><select ng-model="poeSocket.outVoltage" ng-change="showModalWindow()" ng-options="poeSocketVoltage+' V' for poeSocketVoltage in poeSocket.avlOut"
                ng-disabled="!poe[$index].status">
               </select></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">VLAN ID</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Comment</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Action</span></li>
            <li><button>Add</button></li>
        </ul>
    </section>
</div> 
<div class="IPv4 Firewall">
    <section>
        <ul>
            <li><span class="TitleClass">Status</span></li>
            <li><div class="switchButtonContainer">
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF </div>
                <div ng-class="[poe[$index].status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']" ng-click="turnOnOff(poe, {'switcherFor': 'poe', 'switcherId': $index, 'currentStatus': poe[$index].status});">
                    <div ng-class="[poe[$index].status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                </div>
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']"> ON</div>
            </div></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Chain</span></li>
            <li><select ng-model="poeSocket.outVoltage" ng-change="showModalWindow()" ng-options="poeSocketVoltage+' V' for poeSocketVoltage in poeSocket.avlOut"
                ng-disabled="!poe[$index].status">
               </select></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">!</span></li>
            <li><input type="checkbox"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Source</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">!</span></li>
            <li><input type="checkbox"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Destination</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Protocol</span></li>
            <li><select ng-model="poeSocket.outVoltage" ng-change="showModalWindow()" ng-options="poeSocketVoltage+' V' for poeSocketVoltage in poeSocket.avlOut"
                ng-disabled="!poe[$index].status">
               </select></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">In Iface</span></li>
            <li><select ng-model="poeSocket.outVoltage" ng-change="showModalWindow()" ng-options="poeSocketVoltage+' V' for poeSocketVoltage in poeSocket.avlOut"
                ng-disabled="!poe[$index].status">
               </select></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Out Iface</span></li>
            <li><select ng-model="poeSocket.outVoltage" ng-change="showModalWindow()" ng-options="poeSocketVoltage+' V' for poeSocketVoltage in poeSocket.avlOut"
                ng-disabled="!poe[$index].status">
               </select></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">!</span></li>
            <li><input type="checkbox"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Src Port</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">!</span></li>
            <li><input type="checkbox"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Dst Port</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Comment</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Action</span></li>
            <li><button>Add</button></li>
        </ul>
    </section>
</div> 
<div class="IPv6 Firewall">
    <section>
        <ul>
            <li><span class="TitleClass">Status</span></li>
            <li><div class="switchButtonContainer">
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF </div>
                <div ng-class="[poe[$index].status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']" ng-click="turnOnOff(poe, {'switcherFor': 'poe', 'switcherId': $index, 'currentStatus': poe[$index].status});">
                    <div ng-class="[poe[$index].status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                </div>
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']"> ON</div>
            </div></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Chain</span></li>
            <li><select ng-model="poeSocket.outVoltage" ng-change="showModalWindow()" ng-options="poeSocketVoltage+' V' for poeSocketVoltage in poeSocket.avlOut"
                ng-disabled="!poe[$index].status">
               </select></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">!</span></li>
            <li><input type="checkbox"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Source</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">!</span></li>
            <li><input type="checkbox"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Destination</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Protocol</span></li>
            <li><select ng-model="poeSocket.outVoltage" ng-change="showModalWindow()" ng-options="poeSocketVoltage+' V' for poeSocketVoltage in poeSocket.avlOut"
                ng-disabled="!poe[$index].status">
               </select></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">In Iface</span></li>
            <li><select ng-model="poeSocket.outVoltage" ng-change="showModalWindow()" ng-options="poeSocketVoltage+' V' for poeSocketVoltage in poeSocket.avlOut"
                ng-disabled="!poe[$index].status">
               </select></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Out Iface</span></li>
            <li><select ng-model="poeSocket.outVoltage" ng-change="showModalWindow()" ng-options="poeSocketVoltage+' V' for poeSocketVoltage in poeSocket.avlOut"
                ng-disabled="!poe[$index].status">
               </select></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">!</span></li>
            <li><input type="checkbox"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Src Port</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">!</span></li>
            <li><input type="checkbox"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Dst Port</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Comment</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Action</span></li>
            <li><button>Add</button></li>
        </ul>
    </section>
</div>  
<div class="Port Forwarding">
    <section>
        <ul>
            <li><span class="TitleClass">Status</span></li>
            <li><div class="switchButtonContainer">
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF </div>
                <div ng-class="[poe[$index].status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']" ng-click="turnOnOff(poe, {'switcherFor': 'poe', 'switcherId': $index, 'currentStatus': poe[$index].status});">
                    <div ng-class="[poe[$index].status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                </div>
                <div ng-class="[poe[$index].status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']"> ON</div>
            </div></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Src Iface</span></li>
            <li><select ng-model="poeSocket.outVoltage" ng-change="showModalWindow()" ng-options="poeSocketVoltage+' V' for poeSocketVoltage in poeSocket.avlOut"
                ng-disabled="!poe[$index].status">
               </select></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Source IP</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Src Port</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Destination IP</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Dst Port</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Protocol</span></li>
            <li><select ng-model="poeSocket.outVoltage" ng-change="showModalWindow()" ng-options="poeSocketVoltage+' V' for poeSocketVoltage in poeSocket.avlOut"
                ng-disabled="!poe[$index].status">
               </select></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Comment</span></li>
            <li><input type="text"></li>
        </ul>
    </section>
    <section>
        <ul>
            <li><span class="TitleClass">Action</span></li>
            <li><button>Add</button></li>
        </ul>
    </section>
</div>                