<section id="container" ng-controller="CommunicationsCtrl">
	<table id="mainCommunicationTable"><tr><td><div class="separateString">Communications</div></td></tr>
    <tr><td><div style="margin-left: 36.3%;"><div id="MobilePageSettings" class="activeCommunicationPageButton" onclick="changeCommunicationSubPage(this.id, this.className);">Mobile</div><div id="EthernetPageSettings" class="passiveCommunicationPageButton" onclick="changeCommunicationSubPage(this.id, this.className);">Ethernet</div></div></td></tr>
    <tr>
	<td>
	 <table id="MobileConfigsPage"  cellspacing="0" style="width: 100%; height: 100%; table-layout: fixed; border: solid; border-color: silver; border-width: 0.1em; border-radius: 0.2em;">
	  <!--first socket-->
	   <tr>
	    <td colspan="3">
	    <table style="width: 100%; height: 100%; border-bottom: dashed 0.2em #706870;">
		 <tr>
	     <td style="text-align: center; width: 18%;"><img src="assets/img/sim.svg" class="simCard"/>
	         <!--div class="c13SocketCover" style="margin-top: -5.7%; margin-left: 3.6%;"></div-->
			 <table style="width: 100%; margin-top: -12%;">
			   <tbody>
			    <tr>
				  <td style="width: 80%;"><div id="lastMobileUpdateData" style="font-size: 80%;">Last: 11:53:27 05-29-2018</div></td>
				  <td style="width: 20%;"><img src="assets/img/refresh-page-arrow-button_purple.svg" class="refreshButton" style="margin-left: 50%;"/></td>
				</tr>
			   </tbody> 
             </table>			   
			</td>
			<td style="width: 82%;">
			 <table style="width: 100%; height: 100%;">			   
			    <tr>
				<td class="staticRight keyDataFont" style="width: 12%;">Status:</td>
			      <td style="width: 20%;"> 
				<table><tr><td>
					    <div id="socketSwitchLeftText_01" class="socketSwitchedOnLeftText">OFF </div></td><td>
						 <div id="socket_01" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '01');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="socketSwitchRightText_01" class="socketSwitchedOnRightText"> ON</div>
				    </td></tr>
					</table>
				 </td>
			   <td class="staticRight keyDataFont" style="width: 20%;">
			                                    <select>
						                           <option value="ussdCommand">USSD</option> 
						                           <option value="atCommand">AT</option>
												</select>
												command:
                   </td>												
				<td class="" style="width: 48%;">
			    <table style="width: 100%;">
				 <tbody>
				  <tr>
				   <td style="width: 80%;">
			        <input type="text" maxlength="100" size="45" value="*101#"/>
				   </td>
				   <td>
				    <div class="rebootButton" style="width: 100%;">Execute</div>
				   </td>
			      </tr>
				 </tbody>
				</table> 
				</td>
				</tr>
			   <tr>
			   		      <td class="staticRight keyDataFont" style="width: 12%;">Type:</td>
			      <td style="staticCenter"> 
			            <select onchange="mobileBandsCategory(this.value);">
						        <option value="auto">Auto (LTE Band 34)</option> 
						        <option value="gsm">GSM</option>
		                        <option value="cdma">CDMA</option>
								<option value="umtsFDD">UMTS FDD</option>
								<option value="umtsTDD">UMTS TDD</option>
								<option value="lteFDD">LTE FDD</option>
								<option value="lteTDD">LTE TDD</option>
						</select> 
				 </td>
				  
				<td colspan="2" rowspan="2" class="staticLeft keyDataFont" style="border-left: dashed 0.1em grey; width: 60%;">Result: <div id="ussdAtResult">Na vashomu rahunku 1501.89 UAH grn. Taryf  'Super puper naebalovo + vsego za 100 UAH' Nomer diysnyi do 31.02.2100</div></td>	
				 </tr>
				 
				 <tr>
				  <td class="staticRight">Category: </td>
				    <td>
				   <select id="gsmBands" style="display: none;"><option value="gprs">GPRS</option>
		                   <option value="edge">EDGE</option>
				  </select> 
											<select id="cdmaBands" style="display: none;"><option value="evdoA">EV-DO Rev. A</option>
													<option value="evdoB">EV-DO Rev. B</option>
													<option value="evdoC">EV-DO Rev. C</option>
                                            </select>		
                                            <select id="umtsFDDBands" style="display: none;"><option value="umtsBandFDD01">UMTS Band 1 (2100 MHz)</option>
													<option value="umtsBandFDD02">UMTS Band 2 (1900 MHz)</option>
													<option value="umtsBandFDD03">UMTS Band 3 (1800 MHz)</option>
													<option value="umtsBandFDD04">UMTS Band 4 (1700 MHz)</option>
													<option value="umtsBandFDD05">UMTS Band 5 (850 MHz)</option>
													<option value="umtsBandFDD06">UMTS Band 6 (800 MHz)</option>
													<option value="umtsBandFDD07">UMTS Band 7 (2600 MHz)</option>
													<option value="umtsBandFDD08">UMTS Band 8 (900 MHz)</option>
													<option value="umtsBandFDD09">UMTS Band 9 (1700 MHz)</option>
													<option value="umtsBandFDD10">UMTS Band 10 (1700 MHz)</option>
													<option value="umtsBandFDD11">UMTS Band 11 (1500 MHz)</option>
													<option value="umtsBandFDD12">UMTS Band 12 (700 MHz)</option>
													<option value="umtsBandFDD13">UMTS Band 13 (700 MHz)</option>
													<option value="umtsBandFDD14">UMTS Band 14 (700 MHz)</option>
													<option value="umtsBandFDD19">UMTS Band 19 (800 MHz)</option>
													<option value="umtsBandFDD20">UMTS Band 20 (800 MHz)</option>
													<option value="umtsBandFDD21">UMTS Band 21 (1500 MHz)</option>
													<option value="umtsBandFDD22">UMTS Band 22 (3500 MHz)</option>
													<option value="umtsBandFDD25">UMTS Band 25 (1900 MHz)</option>
													<option value="umtsBandFDD26">UMTS Band 26 (850 MHz)</option>
													<option value="umtsBandFDD32">UMTS Band 32 (1500 MHz)</option>
                                            </select>	
                                            <select id="umtsTDDBands" style="display: none;">
											  <option value="umtsBandTDDAL">UMTS Band A lower(1900-1920 MHz)</option>
                                              <option value="umtsBandTDDAU">UMTS Band A upper(2010-2025 MHz)</option> 
		                                      <option value="umtsBandTDDBL">UMTS Band B lower(1850-1910 MHz)</option>
                                              <option value="umtsBandTDDBU">UMTS Band B upper(1930-1990 MHz)</option> 
                                               <option value="umtsBandTDDC">UMTS Band C (1910-1930 MHz)</option>
                                               <option value="umtsBandTDDD">UMTS Band D (2570-2620 MHz)</option>	
                                               <option value="umtsBandTDDE">UMTS Band E (2300-2400 MHz)</option>
                                               <option value="umtsBandTDDF">UMTS Band F (1880-1920 MHz)</option>			
                                            </select>
                                            <select id="lteFDDBands" style="display: none;">
											<option value="lteBandFDD01">LTE Band 1 (2100 MHz)</option>
													<option value="lteBandFDD02">LTE Band 2 (1900 MHz)</option>
													<option value="lteBandFDD03">LTE Band 3 (1800 MHz)</option>
													<option value="lteBandFDD04">LTE Band 4 (1700 MHz)</option>
													<option value="lteBandFDD05">LTE Band 5 (850 MHz)</option>
													<option value="lteBandFDD06">LTE Band 6 (800 MHz)</option>
													<option value="lteBandFDD07">LTE Band 7 (2600 MHz)</option>
													<option value="lteBandFDD08">LTE Band 8 (900 MHz)</option>
													<option value="lteBandFDD11">LTE Band 11 (1500 MHz)</option>
													<option value="lteBandFDD12">LTE Band 12 (700 MHz)</option>
													<option value="lteBandFDD13">LTE Band 13 (700 MHz)</option>
													<option value="lteBandFDD14">LTE Band 14 (700 MHz)</option>
													<option value="lteBandFDD17">LTE Band 17 (700 MHz)</option>
													<option value="lteBandFDD18">LTE Band 18 (800 MHz)</option>
													<option value="lteBandFDD19">LTE Band 19 (800 MHz)</option>
													<option value="lteBandFDD20">LTE Band 20 (800 MHz)</option>
													<option value="lteBandFDD21">LTE Band 21 (1500 MHz)</option>	
													<option value="lteBandFDD25">LTE Band 25 (1900 MHz)</option>
													<option value="lteBandFDD26">LTE Band 26 (850 MHz)</option>
													<option value="lteBandFDD28">LTE Band 28 (700 MHz)</option>
													<option value="lteBandFDD29">LTE Band 29 (700 MHz)</option>
													<option value="lteBandFDD30">LTE Band 30 (2300 MHz)</option>
													<option value="lteBandFDD31">LTE Band 31 (450 MHz)</option>
													<option value="lteBandFDD32">LTE Band 32 (1500 MHz)</option>
													<option value="lteBandFDD38">LTE Band 38 (2600 MHz)</option>
													<option value="lteBandFDD39">LTE Band 39 (1900 MHz)</option>
													<option value="lteBandFDD40">LTE Band 40 (2300 MHz)</option>
													<option value="lteBandFDD41">LTE Band 41 (2500 MHz)</option>
													<option value="lteBandFDD42">LTE Band 42 (3500 MHz)</option>
													<option value="lteBandFDD43">LTE Band 43 (3700 MHz)</option>
													<option value="lteBandFDD44">LTE Band 44 (700 MHz)</option>
													<option value="lteBandFDD65">LTE Band 65 (2100 MHz)</option>
													<option value="lteBandFDD66">LTE Band 66 (1700 MHz)</option>
													<option value="lteBandFDD67">LTE Band 67 (700 MHz)</option>
													<option value="lteBandFDD68">LTE Band 68 (700 MHz)</option>
													<option value="lteBandFDD69">LTE Band 69 (2600 MHz)</option>
													<option value="lteBandFDD70">LTE Band 70 (2000 MHz)</option>
													<option value="lteBandFDD71">LTE Band 71 (600 MHz)</option>
													<option value="lteBandFDD72">LTE Band 72 (450 MHz)</option>
                                            </select>	
									        <select id="lteTDDBands"  style="display: none;"><option value="lteBandTDD33">LTE Band 33 (2100 MHz)</option>
													<option value="lteBandTDD34">LTE Band 34 (2100 MHz)</option>
													<option value="lteBandTDD35">LTE Band 35 (1900 MHz)</option>
													<option value="lteBandTDD36">LTE Band 36 (1900 MHz)</option>
													<option value="lteBandTDD37">LTE Band 37 (1900 MHz)</option>									 	
													<option value="lteBandTDD38">LTE Band 38 (2600 MHz)</option>
													<option value="lteBandTDD39">LTE Band 39 (1900 MHz)</option>										 			
													<option value="lteBandTDD40">LTE Band 40 (2300 MHz)</option>
													<option value="lteBandTDD41">LTE Band 41 (2500 MHz)</option>
													<option value="lteBandTDD42">LTE Band 42 (3500 MHz)</option>
													<option value="lteBandTDD43">LTE Band 43 (3700 MHz)</option>
													<option value="lteBandTDD44">LTE Band 44 (700 MHz)</option>
													<option value="lteBandTDD45">LTE Band 45 (1500 MHz)</option>
													<option value="lteBandTDD46">LTE Band 46 (5200 MHz)</option>
													<option value="lteBandTDD47">LTE Band 47 (5900 MHz)</option>
													<option value="lteBandTDD48">LTE Band 48 (3600 MHz)</option>
													<option value="lteBandTDD49">LTE Band 49 (3600 MHz)</option>
													<option value="lteBandTDD50">LTE Band 50 (1500 MHz)</option>
													<option value="lteBandTDD51">LTE Band 51 (1500 MHz)</option>
													<option value="lteBandTDD52">LTE Band 52 (3300 MHz)</option>
                                            </select>												
				  </td><td colspan="2"></td>
				  </tr>
				  <tr>
				   <td><div class="keyDataFont AirScanButton">Air Scan</div></td><td colspan="2"><div class="keyDataFont AirScanButton">Phones mailing list (0)</div></td>
				  </tr>
				  <!--tr><td class="staticCenter">UnPluged</td><td colspan="2" class="staticCenter">More stats</td><td></td></tr-->
			  </table>
			  </td>
			   
			  </tr>
			  </table>
			 </td>
			</tr>
		<!---------Left Side---------->	
		   <tr>
			<td style="vertical-align: top;">
	        <table style="width: 60%; font-size: 75%; font-family: Helvetica;">
			 <tbody>
			      <tr>
				     <td class="staticRight" style="width: 33%; overflow: hidden;"><br>IMEI:</td><td class="staticLeft borderRightTable" style="width: 67%; overflow: hidden;"><br>454654646456</td>
				   </tr>	
                    <tr >
				     <td class="staticRight" style="width: 33%; overflow: hidden;">MAC:</td><td class="staticLeft borderRightTable" style="width: 67%; overflow: hidden;">FF:EE:DD:CC:BB:AA</td>
				   </tr>
                   <tr >
				     <td class="staticRight" style="width: 33%; overflow: hidden;">IPv4:</td><td class="staticLeft borderRightTable" style="width: 67%; overflow: hidden;">192.168.45.4</td>
				   </tr>
                    <tr>
				     <td class="staticRight" style="width: 33%; overflow: hidden;">IPv6:</td><td class="staticLeft borderRightTable" style="width: 67%; overflow: hidden;">FF:EE:DD:CC:BB:AA</td>
				   </tr>				   
                    <!--tr >
				     <td class="staticRight">Technology:</td><td class="staticLeft borderRightTable" >LTE</td>
				   </tr>
                    <tr >
				     <td class="staticRight">Band:</td><td class="staticLeft borderRightTable" >34 (TDD 2100 Mhz)</td>
				   </tr-->				   
				   <tr >
				     <td class="staticRight">Network:</td><td class="staticLeft borderRightTable" >Verizon</td>
				   </tr>
                   <tr >
				     <td class="staticRight" >Cell name:</td><td class="staticLeft borderRightTable" >NY-10531</td>
				   </tr>					   
			<tr >
				<td  class="staticRight">Number:</td><td class="staticLeft borderRightTable" >+380504568334</td>
			 </tr>
             <tr >			 
				    <td  class="staticRight">Signal:</td><td class="staticLeft borderRightTable" >-101 dBm</td>
				</tr>
			<tr >
				<td class="staticRight " >Balance:</td><td  class="staticLeft positiveStatus borderRightTable">+1501.89 UAH</td>
			   </tr>
              <tr>			   
				<td  class="staticRight"><br>Tariff:</td><td class="staticLeft borderRightTable" style="width: 20%; overflow: hidden;"><br>Super puper naebalovo + vsego za 100 UAH</td>
				</tr>
			<tr >
				<td class="staticRight"><br>Speed:</td><td class="staticLeft borderRightTable" ><br>1 Mbit/s</td>
			 </tr>	
			  <tr >	
				<td class="staticRight">Traffic In:</td><td class="staticLeft borderRightTable" >1589 Mb</td>
			 </tr> 
			 <tr >	
				<td class="staticRight">Traffic Out:</td><td class="staticLeft borderRightTable" >2537 Mb</td>
			 </tr> 
              </tbody>			  
			 </table>
			</td>
            <td style="vertical-align: top;">
			  <div id='MobilePageIpConfgurationTable' style="margin-top: 10%;">
			   <table id="MobileIPConfigsMainTypes" style="width: 100%;">
		        <tr><td>
				      <div style="display: inline-table;">
				        <input name="MobileAuthTypeIPType" type="radio" value="MobileIPTypeV4" onchange="AuthTypeIPType('Mobile', this.value)" checked="checked"/>IP v4
					  </div>	
					  <div style="display: inline-table;">
						<input name="MobileAuthTypeIPType" type="radio" value="MobileIPTypeV6" onchange="AuthTypeIPType('Mobile', this.value)"/>IP v6
					  </div>
                      <div style="display: inline-table;">					  
                        <input name="MobileAuthTypeIPType" type="radio" value="MobileIPTypeDualStack" onchange="AuthTypeIPType('Mobile', this.value)"/>Both
					  </div>
				 </td></tr>
			    </table>
			   <table id="EthenetIPV4ConfigOptions" style="width: 100%; display: ;">
		        <tr><td>
				      <div style="display: inline-table;">
				        <input name="MobileAuthTypeV4" type="radio" value="MobileIPoE_DynamicV4" onchange="AuthTypeIPType('Mobile', this.value)" />DHCP v4
					  </div>	
					  <div style="display: inline-table;">
						<input name="MobileAuthTypeV4" type="radio" value="MobileIPoE_StaticV4" onchange="AuthTypeIPType('Mobile', this.value)" checked="checked"/>Static v4
					  </div>
                      <div style="display: inline-table;">					  
                        <input name="MobileAuthTypeV4" type="radio" value="MobileIPoE_PPoEV4" onchange="AuthTypeIPType('Mobile', this.value)"/>PPoE
					  </div>
                      <div style="display: inline-table;">					  
                        <input name="MobileAuthTypeV4" type="radio" value="MobileIPoE_PPTPV4" onchange="AuthTypeIPType('Mobile', this.value)"/>PPTP 						
				      </div>
				 </td></tr>
			    </table>
				  <table id="MobileIPV6ConfigOptions" style="width: 100%; display: none;">
		        <tr><td>
				      <div style="display: inline-table;">
				        <input name="MobileAuthTypeV6" type="radio" value="MobileIPoEDynamicV6" onchange="AuthTypeIPType('Mobile', this.value)" />DHCP v6
					  </div>	
					  <div style="display: inline-table;">
						<input name="MobileAuthTypeV6" type="radio" value="MobileIPoEStaticV6" onchange="AuthTypeIPType('Mobile', this.value)"/>Static v6
					  </div>
                      <div style="display: inline-table;">					  
                        <input name="MobileAuthTypeV6" type="radio" value="MobileIPoESLAACV6" onchange="AuthTypeIPType('Mobile', this.value)"/>SLAAC
					  </div>
				 </td></tr>
			    </table>
			<div id='MobilePageIpConfgurationByTypes'>	
				<!----------------------------Static IP v4-------------------------->
				<div id="ipoeStaticV4" style="display: ;"> 
				<fieldset style="border-style: dashed; border-color: grey;"><legend>IPv4 Static configs</legend>
			          <table style="width: 100%;">
			    <tr >
				     <td class="staticRight" style="width: 50%; overflow: hidden;">IPv4 address:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="MobileIPv4StaticIP" value="132.189.250.159"/></td>
					</tr> 
				   <tr >
				     <td class="staticRight">Netmask v4:</td><td class="staticLeft"><input type="text" name="MobileIPv4StaticNetmask" value="255.255.255.0"/></td>
				   </tr>
                   <tr >
				     <td class="staticRight" >Gateway v4:</td><td class="staticLeft"><input type="text" name="MobileIPv4StaticGateway" value="132.189.250.1"/></td>
				   </tr>			   
			 <tr >
				<td  class="staticRight">Primary DNS v4:</td><td class="staticLeft"><input type="text" name="MobileIPv4StaticPrimaryDNS" value="8.8.8.8"/></td>
			 </tr>
             <tr >			 
				    <td  class="staticRight">Secondary DNS v4:</td><td class="staticLeft"><input type="text"  maxlength="15" name="MobileIPv4StaticSecondaryDNS" value="1.1.1.1"/></td>
				</tr>
			 <tr >			 
				    <td  class="staticRight">MTU:</td><td class="staticLeft"><input type="text" name="MobileIPv4Static_MTU"  maxlength="4" value="1500"/></td>
				</tr>
					 <tr >			 
				    <td  class="staticRight">MAC Address Cloning:</td><td class="staticLeft" ><table><tr><td>
					    <div id="MACCloningAddressLeftText_01" class="socketSwitchedOnLeftText">Off </div></td><td>
						 <div id="MACCloningAddress_01" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '01');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="MACCloningAddressRightText_01" class="socketSwitchedOnRightText"> On</div>
				    </td></tr>
					</table></td>
				</tr>
					 <tr >			 
				 	 
				    <td  class="staticRight">MAC Address:</td><td class="staticLeft"><input type="text" name="MobileIPv4_MACCloningAddress" maxlength="17" value="BB:CC:DD:AA:FF:EE"/></td>
				  </tr>
			     </table>
				 </fieldset>
			   </div>	
			   <!---------------DHCP v4----------------->
               <div id="MobileIPv4IPoEDynamicV4" style="display: none;"> 
			   <fieldset style="border-style: dashed; border-color: grey;"><legend>IPv4 DHCP configs</legend>
			    <table style="width: 100%; white-space: nowrap;">
			    <tr >
				     <td class="staticRight" style="width: 85%;">DHCP v4 Fallback Address:</td><td class="staticLeft" style="width: 15%;"><input type="text" name="MobileIPv4DHCP_FallbackIP" value="132.189.250.159"/></td>
				  </tr> 
				   <tr >
				     <td class="staticRight">DHCP v4 Fallback Netmask:</td><td class="staticLeft"><input type="text" name="MobileIPv4DHCP_Netmask" value="255.255.255.0"/></td>
				   </tr>
			     </table>
				 </fieldset>
			   </div>	
			 <!----------------------------------------PPoE--------------------------------------->  
               <div id="MobileIPv4_PPoE" style="display: none;"> 
			    <fieldset style="border-style: dashed; border-color: grey;"><legend>IPv4 PPoE configs</legend>
			          <table style="width: 100%;">
			      <tr >
				     <td class="staticRight" style="width: 50%; overflow: hidden;">Username:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="MobileIPv4PPoE_Username" value="132.189.250.159"/></td>
				  </tr>
                  <tr>				  
					 <td class="staticRight" style="width: 50%; overflow: hidden;">Password:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="MobileIPv4PPoE_Password" value="132.189.250.159"/></td>
				   </tr>	 
				   <tr >
				     <td class="staticRight">Service name:</td><td class="staticLeft"><input type="text" name="MobileIPv4PPoE_ServiceName" value="255.255.255.0"/></td>
				   </tr>
				   <tr> 
					 <td class="staticRight" style="width: 50%; overflow: hidden;">Fallback IP:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="MobileIPv4PPoE_FallbackIP" value="132.189.250.159"/></td>
				   </tr>	
				   <tr >
				     <td class="staticRight">Fallback Netmask:</td><td class="staticLeft"><input type="text" name="MobileIPv4PPoE_FallbackNetmask" value="255.255.255.0"/></td>
				   </tr>
			 <tr >			 
				    <td  class="staticRight">MTU/MRU:</td><td class="staticLeft"><input type="text" name="MobileIPv4PPoE_MTU"  maxlength="4" size="4" value="1492"/>/<input type="text" name="MobileIPv4PPoE_MRU" size="4" maxlength="4" value="1492"/>
					</td>
				</tr>
                 <tr>				
					<td class="staticRight">MTU negotiation:</td><td class="staticLeft">
					 <table><tr><td>
					    <div id="MobileIPv4PPoE_MTUNegotiationLeftText_01" class="MobileIPv4PPoE_MTUNegotiationOnLeftText">Off</div></td><td>
						 <div id="MobileIPv4PPoE_MTUNegotiation_01" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '01');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="MobileIPv4PPoE_MTUNegotiationRightText_01" class="MobileIPv4PPoE_MTUNegotiationOnRightText"> On</div>
				    </td></tr>
					</table>
					</td>
					 
				</tr>
				<tr >			 
				    <td  class="staticRight">Encryption:</td><td class="staticLeft"><table><tr><td>
					    <div id="MobileIPv4PPoE_MTUEncryptionLeftText_01" class="MobileIPv4PPoE_MTUEncryptionOnLeftText">Off</div></td><td>
						 <div id="MobileIPv4PPoE_MTUEncryption_01" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '01');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="MobileIPv4PPoE_MTUNegotiationRightText_01" class="MobileIPv4PPoE_MTUEncryptionOnRightText"> On</div>
				    </td></tr>
					</table></td>
				</tr>
			     </table>
				 </fieldset>
			   </div>
			   <!----------------------------------------PPTP--------------------------------------->  
               <div id="MobileIPv4_PPTP" style="display: none;"> 
			    <fieldset style="border-style: dashed; border-color: grey;"><legend>IPv4 PPTP configs</legend>
			          <table style="width: 100%;">
			      <tr >
				     <td class="staticRight" style="width: 50%; overflow: hidden;">Username:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="MobileIPv4PPTP_Username" value="132.189.250.159"/></td>
				  </tr>
                  <tr>				  
					 <td class="staticRight" style="width: 50%; overflow: hidden;">Password:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="MobileIPv4PPTP_Password" value="132.189.250.159"/></td>
				   </tr>	 
				   <tr >
				     <td class="staticRight">Service name:</td><td class="staticLeft"><input type="text" name="MobileIPv4PPTP_ServiceName" value="255.255.255.0"/></td>
				   </tr>
				   <tr> 
					 <td class="staticRight" style="width: 50%; overflow: hidden;">Fallback IP:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="MobileIPv4PPTP_FallbackIP" value="132.189.250.159"/></td>
				   </tr>	
				   <tr >
				     <td class="staticRight">Fallback Netmask:</td><td class="staticLeft"><input type="text" name="MobileIPv4PPTP_FallbackNetmask" value="255.255.255.0"/></td>
				   </tr>
			 <tr >			 
				    <td  class="staticRight">MTU/MRU:</td><td class="staticLeft"><input type="text" name="MobileIPv4PPTP_MTU"  maxlength="4" size="4" value="1492"/>/<input type="text" name="MobileIPv4PPTP_MRU" size="4" maxlength="4" value="1492"/>
					</td>
				</tr>
                 <tr>				
					<td class="staticRight">MTU negotiation:</td><td class="staticLeft">
					 <table><tr><td>
					    <div id="MobileIPv4PPTP_MTUNegotiationLeftText_01" class="ipConfigPPTP_MTUNegotiationOnLeftText">Off</div></td><td>
						 <div id="MobileIPv4PPTP_MTUNegotiation_01" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '01');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="MobileIPv4PPTP_MTUNegotiationRightText_01" class="MobileIPv4PPTP_MTUNegotiationOnRightText"> On</div>
				    </td></tr>
					</table>
					</td>
					 
				</tr>
				<tr >			 
				    <td  class="staticRight">Encryption:</td><td class="staticLeft"><table><tr><td>
					    <div id="MobileIPConfigPPTP_MTUEncryptionLeftText_01" class="MobileIPConfigPPTP_MTUEncryptionOnLeftText">Off</div></td><td>
						 <div id="MobileIPConfigPPTP_MTUEncryption_01" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '01');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="MobileIPConfigPPTP_MTUEncryptionRightText_01" class="MobileIPConfigPPTP_MTUEncryptionOnRightText"> On</div>
				    </td></tr>
					</table></td>
				</tr>
			     </table>
				 </fieldset>
			   </div>
			 <!------------------------------Static v6------------------------>
                  <div id="MobileIPoEStaticV6" style="display: none;"> 
				   <fieldset style="border-style: dashed; border-color: grey;"><legend>IPv6 Static configs</legend>
			          <table style="width: 100%;">
                  <tr> 
					 <td class="staticRight" style="width: 50%; overflow: hidden;">IPv6 address:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="MobileIPv6Static" value="132.189.250.159"/></td>
				   </tr>	 
 				   <tr >
				     <td class="staticRight">Netmask v6:</td><td class="staticLeft"><input type="text" name="MobileIPv6StaticNetmask" value="255.255.255.0"/></td>
				   </tr>
				    <tr >
				     <td class="staticRight" >Gateway v6:</td><td class="staticLeft"><input type="text" name="MobileIPv6StaticGateway" value="132.189.250.1"/></td>
				   </tr>				   
			 <tr >
              <tr >
				<td  class="staticRight">Primary DNS v6:</td><td class="staticLeft"><input type="text" name="MobileIPv6StaticPrimaryDNS" value="8.8.8.8"/></td>
			 </tr>
             <tr >			 
				    <td  class="staticRight">Secondary DNS v6:</td><td class="staticLeft"><input type="text"  maxlength="15" name="MobileIPv6StaticSecondaryDNS" value="1.1.1.1"/></td>
				</tr>
			     </table>
				 </fieldset>
			   </div>				 
			 <!------------------------------DHCP v6-------------------------->
			     <div id="MobileIPoEDynamicV6" style="display: none;"> 
				  <fieldset style="border-style: dashed; border-color: grey;"><legend>IPv6 DHCP configs</legend>
			    <table style="width: 100%; white-space: nowrap;">
                  <tr> 
					 <td class="staticRight" style="width: 50%; overflow: hidden;">DHCP v6 Fallback address:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="MobileIPv6DHCP_FallbackIP" value="132.189.250.159"/></td>
				   </tr>	 
				   <tr >
				     <td class="staticRight">DHCP v6 Fallback Netmask:</td><td class="staticLeft"><input type="text" name="MobileIPv6DHCP_FallbackNetmask" value="255.255.255.0"/></td>
				   </tr>
			     </table>
				 </fieldset>
			   </div>	
			  <!------------------------------SLAAC v6-------------------------->
			     <div id="MobileIPSLAACV6" style="display: none; text-align: center;"> 
				   <fieldset style="border-style: dashed; border-color: grey;"><legend>IPv6 SLAAC configs</legend>
			    <!--table style="width: 100%;">
                  <tr> 
					 <td class="staticRight" style="width: 50%; overflow: hidden;"><input name="ethAuthTypeV6" type="radio" value="ipoeSLAAC" onchange="AuthTypeIPType('Ethernet', this.value)"/></td><td class="staticLeft" style="width: 50%; overflow: hidden;">SLAAC</td>
				   </tr>	 
			     </table-->Autoconfig
				 </fieldset>
			   </div>	
		      </div>
             </div>		   
			</td>
			 <!----------------------------------/IP settings-----------------> 	
			<td style="vertical-align: top;"> 
			  <table style="width: 40%; margin-left: 55%;">  
			     <tr class="staticLeft keyDataFont" style="width: 24%;"><td>Rules:</td></tr>
				 <tr class="staticCenter" style="border-left: dashed 0.1em grey;"><td>No rules</td></tr>
                 <tr class="staticCenter"><td><div id="addNewSocketRule_01" class="addEditButton2">Add new rule</div></td>
				 </tr>
				 <tr class="staticLeft keyDataFont" style="width: 24%;"><td>Schedules:</td></tr>
                 <tr class="staticCenter" style="border-left: dashed 0.1em grey;"><td>3 schedule</td></tr>
                 <tr style="text-align: centet;"><td><div id="addNewSocketSchedule_01" class="addEditButton2">Add/Edit all</div></td></tr>
			    </table>
			  </td>
			</tr>
 </table> 
     <!-----------------------------------------END of Mobile Configs--------------------------------->
	 <!-----------------------------------------Start of Ethernet Configs--------------------------------->
	   <table id="EthernetConfigsPage"  cellspacing="0" style="width: 100%; height: 100%; table-layout: fixed; border: solid; border-color: silver; border-width: 0.1em; border-radius: 0.2em; display: none;">
	  <!--first socket-->
	   <tr>
	    <td colspan="3">
	    <table style="width: 100%; height: 100%; border-bottom: dashed 0.2em #706870;">
		 <tr>
	     <td style="text-align: center; width: 18%;"><img src="assets/img/rj45socketEthernet.svg" class="rj45Socket"/>
	         <!--div class="c13SocketCover" style="margin-top: -5.7%; margin-left: 3.6%;"></div-->			   
			</td>
			<td style="width: 82%;">
			 <table style="width: 100%; height: 100%;">			   
			    <tr>
				<td class="staticRight keyDataFont" style="width: 12%; vertical-align: middle;">Status:</td>
			      <td class="staticLeft" style="width: 29.4%; vertical-align: middle;"> 
				<table><tr><td>
					    <div id="EthernetPort_01_LeftText" class="socketSwitchedOnLeftText">OFF </div></td><td>
						 <div id="EthernetPort_01" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '01');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="EthernetPort_01_RightText" class="socketSwitchedOnRightText"> ON</div>
				    </td></tr>
					</table>
				 </td>												
				</tr>
			   <tr>
			    <td class="staticRight keyDataFont" style="width: 12%; vertical-align: top;">Type:</td>
			      <td class="staticLeft" style="vertical-align: top;"> 
			            <select onchange="mobileBandsCategory(this.value);">
						        <option value="auto">Auto (100 Mbit/s Full-Duplex)</option> 
						        <option value="10MbHD">10 Mbit/s Half-Duplex</option>
		                        <option value="10MbFD">10 Mbit/s Full-Duplex</option>
								<option value="100MbHD">100 Mbit/s Half-Duplex</option>
								<option value="100MbFD">100 Mbit/s Full-Duplex</option>
								<option value="1000MbHD">1 Gbit/s Half-Duplex</option>
								<option value="1000MbFD">1 Gbit/s Full-Duplex</option>
						</select> 
				   </td>
				 </tr>
			  </table>
			  </td>
			   
			  </tr>
			  </table>
			 </td>
			</tr>
		<!---------Left Side---------->	
		   <tr>
			<td style="vertical-align: top;">
	        <table style="width: 60%; font-size: 75%; font-family: Helvetica;">
			 <tbody>
                    <tr >
				     <td class="staticRight" style="width: 33%; overflow: hidden;"><br>MAC:<br></td><td class="staticLeft borderRightTable" style="width: 67%; overflow: hidden;"><br>FF:EE:DD:CC:BB:AA</td>
				   </tr>
                   <tr >
				     <td class="staticRight" style="width: 33%; overflow: hidden;">IPv4:</td><td class="staticLeft borderRightTable" style="width: 67%; overflow: hidden;">192.168.45.4</td>
				   </tr>
                    <tr>
				     <td class="staticRight" style="width: 33%; overflow: hidden;">IPv6:</td><td class="staticLeft borderRightTable" style="width: 67%; overflow: hidden;">FF:EE:DD:CC:BB:AA</td>
				   </tr>				      
				   <tr >
				     <td class="staticRight">Network:</td><td class="staticLeft borderRightTable" >ASN 45680</td>
				   </tr>				   
				<td class="staticRight"><br>Speed:</td><td class="staticLeft borderRightTable" ><br>1 Mbit/s</td>
			 </tr>	
			  <tr >	
				<td class="staticRight">Traffic In:</td><td class="staticLeft borderRightTable" >1589 Mb</td>
			 </tr> 
			 <tr >	
				<td class="staticRight">Traffic Out:</td><td class="staticLeft borderRightTable" >2537 Mb</td>
			 </tr> 
              </tbody>			  
			 </table>
			</td>
			<td style="vertical-align: top;">
			<div id='EthernetPageIpConfgurationTable' style="margin-top: 10%;">
			   <table id="EthernetIPConfigsMainTypes" style="width: 100%;">
		        <tr><td>
				      <div style="display: inline-table;">
				        <input name="EthernetAuthTypeIPType" type="radio" value="EthernetIPTypeV4" onchange="AuthTypeIPType('Ethernet', this.value)" />IP v4
					  </div>	
					  <div style="display: inline-table;">
						<input name="EthernetAuthTypeIPType" type="radio" value="EthernetIPTypeV6" onchange="AuthTypeIPType('Ethernet', this.value)"/>IP v6
					  </div>
                      <div style="display: inline-table;">					  
                        <input name="EthernetAuthTypeIPType" type="radio" value="EthernetIPTypeDualStack" onchange="AuthTypeIPType('Ethernet', this.value)"/>Both
					  </div>
				 </td></tr>
			    </table>
			   <table id="EthenetIPV4ConfigOptions" style="width: 100%; display: ;">
		        <tr><td>
				      <div style="display: inline-table;">
				        <input name="ethAuthTypeV4" type="radio" value="EthernetIPoE_DynamicV4" onchange="AuthTypeIPType('Ethernet', this.value)" />DHCP v4
					  </div>	
					  <div style="display: inline-table;">
						<input name="ethAuthTypeV4" type="radio" value="EthernetIPoE_StaticV4" onchange="AuthTypeIPType('Ethernet', this.value)"/>Static v4
					  </div>
                      <div style="display: inline-table;">					  
                        <input name="ethAuthTypeV4" type="radio" value="EthernetIPoE_PPoEV4" onchange="AuthTypeIPType('Ethernet', this.value)"/>PPoE
					  </div>
                      <div style="display: inline-table;">					  
                        <input name="ethAuthTypeV4" type="radio" value="EthernetIPoE_PPTPV4" onchange="AuthTypeIPType('Ethernet', this.value)"/>PPTP 						
				      </div>
				 </td></tr>
			    </table>
				  <table id="EthernetIPV6ConfigOptions" style="width: 100%; display: none;">
		        <tr><td>
				      <div style="display: inline-table;">
				        <input name="ethAuthTypeV6" type="radio" value="EthernetIPoEDynamicV6" onchange="AuthTypeIPType('Ethernet', this.value)" />DHCP v6
					  </div>	
					  <div style="display: inline-table;">
						<input name="ethAuthTypeV6" type="radio" value="EthernetIPoEStaticV6" onchange="AuthTypeIPType('Ethernet', this.value)"/>Static v6
					  </div>
                      <div style="display: inline-table;">					  
                        <input name="ethAuthTypeV6" type="radio" value="EthernetIPoESLAACV6" onchange="AuthTypeIPType('Ethernet', this.value)"/>SLAAC
					  </div>
				 </td></tr>
			    </table>
			<div id='EthernetPageIpConfgurationByTypes'>	
				<!----------------------------Static IP v4-------------------------->
				<div id="EthernetIPoEStaticV4" style="display: none;"> 
				<fieldset style="border-style: dashed; border-color: grey;"><legend>IPv4 Static configs</legend>
			          <table style="width: 100%;">
			    <tr >
				     <td class="staticRight" style="width: 50%; overflow: hidden;">IPv4 address:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="EthernetIPv4StaticIP" value="132.189.250.159"/></td>
					</tr> 
				   <tr >
				     <td class="staticRight">Netmask v4:</td><td class="staticLeft"><input type="text" name="EthernetIPv4StaticNetmask" value="255.255.255.0"/></td>
				   </tr>
                   <tr >
				     <td class="staticRight" >Gateway v4:</td><td class="staticLeft"><input type="text" name="EthernetIPv4StaticGateway" value="132.189.250.1"/></td>
				   </tr>			   
			 <tr >
				<td  class="staticRight">Primary DNS v4:</td><td class="staticLeft"><input type="text" name="EthernetIPv4StaticPrimaryDNS" value="8.8.8.8"/></td>
			 </tr>
             <tr >			 
				    <td  class="staticRight">Secondary DNS v4:</td><td class="staticLeft"><input type="text"  maxlength="15" name="EthernetIPv4StaticSecondaryDNS" value="1.1.1.1"/></td>
				</tr>
			 <tr >			 
				    <td  class="staticRight">MTU:</td><td class="staticLeft"><input type="text" name="EthernetIPv4Static_MTU"  maxlength="4" value="1500"/></td>
				</tr>
					 <tr >			 
				    <td  class="staticRight">MAC Address Cloning:</td><td class="staticLeft" ><table><tr><td>
					    <div id="MACCloningAddressLeftText_01" class="socketSwitchedOnLeftText">Off </div></td><td>
						 <div id="MACCloningAddress_01" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '01');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="MACCloningAddressRightText_01" class="socketSwitchedOnRightText"> On</div>
				    </td></tr>
					</table></td>
				</tr>
					 <tr >			 
				 	 
				    <td  class="staticRight">MAC Address:</td><td class="staticLeft"><input type="text" name="EthernetIPv4_MACCloningAddress" maxlength="17" value="BB:CC:DD:AA:FF:EE"/></td>
				  </tr>
			     </table>
				 </fieldset>
			   </div>	
			   <!---------------DHCP v4----------------->
               <div id="EthernetIPv4IPoEDynamicV4" style="display: none;"> 
			   <fieldset style="border-style: dashed; border-color: grey;"><legend>IPv4 DHCP configs</legend>
			    <table style="width: 100%; white-space: nowrap;">
			    <tr >
				     <td class="staticRight" style="width: 85%;">DHCP v4 Fallback Address:</td><td class="staticLeft" style="width: 15%;"><input type="text" name="EthernetIPv4DHCP_FallbackIP" value="132.189.250.159"/></td>
				  </tr> 
				   <tr >
				     <td class="staticRight">DHCP v4 Fallback Netmask:</td><td class="staticLeft"><input type="text" name="EthernetIPv4DHCP_Netmask" value="255.255.255.0"/></td>
				   </tr>
			     </table>
				 </fieldset>
			   </div>	
			 <!----------------------------------------PPoE--------------------------------------->  
               <div id="EthernetIPv4_PPoE" style="display: none;"> 
			    <fieldset style="border-style: dashed; border-color: grey;"><legend>IPv4 PPoE configs</legend>
			          <table style="width: 100%;">
			      <tr >
				     <td class="staticRight" style="width: 50%; overflow: hidden;">Username:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="EthernetIPv4PPoE_Username" value="132.189.250.159"/></td>
				  </tr>
                  <tr>				  
					 <td class="staticRight" style="width: 50%; overflow: hidden;">Password:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="EthernetIPv4PPoE_Password" value="132.189.250.159"/></td>
				   </tr>	 
				   <tr >
				     <td class="staticRight">Service name:</td><td class="staticLeft"><input type="text" name="EthernetIPv4PPoE_ServiceName" value="255.255.255.0"/></td>
				   </tr>
				   <tr> 
					 <td class="staticRight" style="width: 50%; overflow: hidden;">Fallback IP:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="EthernetIPv4PPoE_FallbackIP" value="132.189.250.159"/></td>
				   </tr>	
				   <tr >
				     <td class="staticRight">Fallback Netmask:</td><td class="staticLeft"><input type="text" name="EthernetIPv4PPoE_FallbackNetmask" value="255.255.255.0"/></td>
				   </tr>
			 <tr >			 
				    <td  class="staticRight">MTU/MRU:</td><td class="staticLeft"><input type="text" name="EthernetIPv4PPoE_MTU"  maxlength="4" size="4" value="1492"/>/<input type="text" name="EthernetIPv4PPoE_MRU" size="4" maxlength="4" value="1492"/>
					</td>
				</tr>
                 <tr>				
					<td class="staticRight">MTU negotiation:</td><td class="staticLeft">
					 <table><tr><td>
					    <div id="EthernetIPv4PPoE_MTUNegotiationLeftText_01" class="EthernetIPv4PPoE_MTUNegotiationOnLeftText">Off</div></td><td>
						 <div id="EthernetIPv4PPoE_MTUNegotiation_01" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '01');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="EthernetIPv4PPoE_MTUNegotiationRightText_01" class="EthernetIPv4PPoE_MTUNegotiationOnRightText"> On</div>
				    </td></tr>
					</table>
					</td>
					 
				</tr>
				<tr >			 
				    <td  class="staticRight">Encryption:</td><td class="staticLeft"><table><tr><td>
					    <div id="EthernetIPv4PPoE_MTUEncryptionLeftText_01" class="EthernetIPv4PPoE_MTUEncryptionOnLeftText">Off</div></td><td>
						 <div id="EthernetIPv4PPoE_MTUEncryption_01" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '01');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="EthernetIPv4PPoE_MTUNegotiationRightText_01" class="EthernetIPv4PPoE_MTUEncryptionOnRightText"> On</div>
				    </td></tr>
					</table></td>
				</tr>
			     </table>
				 </fieldset>
			   </div>
			   <!----------------------------------------PPTP--------------------------------------->  
               <div id="EthernetIPv4_PPTP" style="display: none;"> 
			    <fieldset style="border-style: dashed; border-color: grey;"><legend>IPv4 PPTP configs</legend>
			          <table style="width: 100%;">
			      <tr >
				     <td class="staticRight" style="width: 50%; overflow: hidden;">Username:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="EthernetIPv4PPTP_Username" value="132.189.250.159"/></td>
				  </tr>
                  <tr>				  
					 <td class="staticRight" style="width: 50%; overflow: hidden;">Password:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="EthernetIPv4PPTP_Password" value="132.189.250.159"/></td>
				   </tr>	 
				   <tr >
				     <td class="staticRight">Service name:</td><td class="staticLeft"><input type="text" name="EthernetIPv4PPTP_ServiceName" value="255.255.255.0"/></td>
				   </tr>
				   <tr> 
					 <td class="staticRight" style="width: 50%; overflow: hidden;">Fallback IP:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="EthernetIPv4PPTP_FallbackIP" value="132.189.250.159"/></td>
				   </tr>	
				   <tr >
				     <td class="staticRight">Fallback Netmask:</td><td class="staticLeft"><input type="text" name="EthernetIPv4PPTP_FallbackNetmask" value="255.255.255.0"/></td>
				   </tr>
			 <tr >			 
				    <td  class="staticRight">MTU/MRU:</td><td class="staticLeft"><input type="text" name="EthernetIPv4PPTP_MTU"  maxlength="4" size="4" value="1492"/>/<input type="text" name="EthernetIPv4PPTP_MRU" size="4" maxlength="4" value="1492"/>
					</td>
				</tr>
                 <tr>				
					<td class="staticRight">MTU negotiation:</td><td class="staticLeft">
					 <table><tr><td>
					    <div id="EthernetIPv4PPTP_MTUNegotiationLeftText_01" class="ipConfigPPTP_MTUNegotiationOnLeftText">Off</div></td><td>
						 <div id="EthernetIPv4PPTP_MTUNegotiation_01" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '01');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="EthernetIPv4PPTP_MTUNegotiationRightText_01" class="EthernetIPv4PPTP_MTUNegotiationOnRightText"> On</div>
				    </td></tr>
					</table>
					</td>
					 
				</tr>
				<tr >			 
				    <td  class="staticRight">Encryption:</td><td class="staticLeft"><table><tr><td>
					    <div id="EthernetIPConfigPPTP_MTUEncryptionLeftText_01" class="EthernetIPConfigPPTP_MTUEncryptionOnLeftText">Off</div></td><td>
						 <div id="EthernetIPConfigPPTP_MTUEncryption_01" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '01');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="EthernetIPConfigPPTP_MTUEncryptionRightText_01" class="EthernetIPConfigPPTP_MTUEncryptionOnRightText"> On</div>
				    </td></tr>
					</table></td>
				</tr>
			     </table>
				 </fieldset>
			   </div>
			 <!------------------------------Static v6------------------------>
                  <div id="EthernetIPoEStaticV6" style="display: none;"> 
				   <fieldset style="border-style: dashed; border-color: grey;"><legend>IPv6 Static configs</legend>
			          <table style="width: 100%;">
                  <tr> 
					 <td class="staticRight" style="width: 50%; overflow: hidden;">IPv6 address:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="EthernetIPv6Static" value="132.189.250.159"/></td>
				   </tr>	 
 				   <tr >
				     <td class="staticRight">Netmask v6:</td><td class="staticLeft"><input type="text" name="EthernetIPv6StaticNetmask" value="255.255.255.0"/></td>
				   </tr>
				    <tr >
				     <td class="staticRight" >Gateway v6:</td><td class="staticLeft"><input type="text" name="EthernetIPv6StaticGateway" value="132.189.250.1"/></td>
				   </tr>				   
			 <tr >
              <tr >
				<td  class="staticRight">Primary DNS v6:</td><td class="staticLeft"><input type="text" name="EthernetIPv6StaticPrimaryDNS" value="8.8.8.8"/></td>
			 </tr>
             <tr >			 
				    <td  class="staticRight">Secondary DNS v6:</td><td class="staticLeft"><input type="text"  maxlength="15" name="EthernetIPv6StaticSecondaryDNS" value="1.1.1.1"/></td>
				</tr>
			     </table>
				 </fieldset>
			   </div>				 
			 <!------------------------------DHCP v6-------------------------->
			     <div id="EthernetIPoEDynamicV6" style="display: none;"> 
				  <fieldset style="border-style: dashed; border-color: grey;"><legend>IPv6 DHCP configs</legend>
			    <table style="width: 100%; white-space: nowrap;">
                  <tr> 
					 <td class="staticRight" style="width: 50%; overflow: hidden;">DHCP v6 Fallback address:</td><td class="staticLeft" style="width: 50%; overflow: hidden;"><input type="text" name="EthernetIPv6DHCP_FallbackIP" value="132.189.250.159"/></td>
				   </tr>	 
				   <tr >
				     <td class="staticRight">DHCP v6 Fallback Netmask:</td><td class="staticLeft"><input type="text" name="EthernetIPv6DHCP_FallbackNetmask" value="255.255.255.0"/></td>
				   </tr>
			     </table>
				 </fieldset>
			   </div>	
			  <!------------------------------SLAAC v6-------------------------->
			     <div id="EthernetIPSLAACV6" style="display: none; text-align: center;"> 
				   <fieldset style="border-style: dashed; border-color: grey;"><legend>IPv6 SLAAC configs</legend>
			    <!--table style="width: 100%;">
                  <tr> 
					 <td class="staticRight" style="width: 50%; overflow: hidden;"><input name="ethAuthTypeV6" type="radio" value="ipoeSLAAC" onchange="AuthTypeIPType('Ethernet', this.value)"/></td><td class="staticLeft" style="width: 50%; overflow: hidden;">SLAAC</td>
				   </tr>	 
			     </table-->Autoconfig
				 </fieldset>
			   </div>	
           <!----------------------------------/IP settings-----------------> 	
		      </div>
             </div>		   
			</td>
			<td style="vertical-align: top;"> 
			  <table style="width: 40%; margin-left: 55%;">  
			     <tr class="staticLeft keyDataFont" style="width: 24%;"><td>Rules:</td></tr>
				 <tr class="staticCenter" style="border-left: dashed 0.1em grey;"><td>No rules</td></tr>
                 <tr class="staticCenter"><td><div id="addNewSocketRule_01" class="addEditButton2">Add new rule</div></td>
				 </tr>
				 <tr class="staticLeft keyDataFont" style="width: 24%;"><td>Schedules:</td></tr>
                 <tr class="staticCenter" style="border-left: dashed 0.1em grey;"><td>3 schedule</td></tr>
                 <tr style="text-align: centet;"><td><div id="addNewSocketSchedule_01" class="addEditButton2">Add/Edit all</div></td></tr>
			    </table>
			  </td>
			</tr>
        </table> 
	  <!-----------------------------------------END of Ethernet Configs--------------------------------->
   </td>
   </tr>
   <!--tr>
   <td></td>
   </tr-->
   </table>
   <!----------------------------------------------Bottom Div------------------------------------>
   <br>
   <div id="advancedConfigs" style="display: block; width: 100%;">
		  <div style="border: solid; border-width: 0.06rem; border-color: grey;">
		   <div id="BridgeTableLegend" style="text-align: left; text-decoration: underline; width: 100%; border-bottom: dashed 0.1em silver; font-weight: bold;" onclick="dropDownOrHideTable('BridgeTable', 'Bridge');">[+]  Bridge</div>
		     <table id="BridgeTable" style="display: none;">
			 <th>Status</th><th>Interface</th><th>STP</th><th>Port</th><th>Comment</th><th>Action</th>
	         <tbody>
			   <tr>
			     <td><table><tr><td><div id="Bridge_01" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, 'Bridge_01', 'noText');"><div class="slideSelectorSwitchedOff"></div></div></td></tr>
				 </table>
				 </td><td>
				            <select>
 				              <option value="ipBridgeMobile">Mobile</option> 
						      <option value="ipBridgeEthernet">Ethernet</option>
							</select>
			     </td><td><table><tr><td><div id="BridgeSTP_01" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, 'BridgeSTP_01', 'noText');"><div class="slideSelectorSwitchedOff"></div></div></td></tr>
				 </table></td><td><input name="ipBridgePort" type="text" size="20" value=""/></td><td><input name="ipBridgeComment" type="text" size="20" value=""/></td><td><div class="passiveCommunicationPageButton" style="margin-left: 12%; font-size: 90%;">Add</div></td>
			   </tr>
			 </tbody>
			</table>	
		 </div>
		  <br>
		  <div style="border: solid; border-width: 0.06rem; border-color: grey;">
		   <div id="ipAliasesTableLegend" style="text-align: left; text-decoration: underline; width: 100%; border-bottom: dashed 0.1em silver; font-weight: bold;" onclick="dropDownOrHideTable('ipAliasesTable', 'IP Aliases');">[+]  IP Aliases</div>
		    <table id="ipAliasesTable" style="display: none;">
			 <th>Status</th><th>Interface</th><th>IP Address</th><th>Netmask</th><th>Comment</th><th>Action</th>
	         <tbody>
			   <tr>
			     <td><table><tr><td><div id="Aliases_01" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, 'Aliases_01', 'noText');"><div class="slideSelectorSwitchedOff"></div></div></td></tr>
				 </table></td><td>
				            <select>
 				              <option value="ipAliasesMobile">Mobile</option> 
						      <option value="ipAliasesEthernet">Ethernet</option>
							</select>
			     </td><td><input name="ipAliasesAddress" type="text" size="20" value=""/></td><td><input name="ipAliasesNetmask" type="text" size="20" value=""/></td><td><input name="ipAliasesComment" type="text" size="20" value=""/></td><td><div class="passiveCommunicationPageButton" style="margin-left: 12%; font-size: 90%;">Add</div></td>
			   </tr>
			 </tbody>
			</table>
		 </div>
		 <br>
		  <div style="border: solid; border-width: 0.06rem; border-color: grey;">
		   <div id="InterfacesTableLegend" style="text-align: left; text-decoration: underline; width: 100%; border-bottom: dashed 0.1em silver; font-weight: bold;" onclick="dropDownOrHideTable('InterfacesTable', 'Interfaces');">[+]  Interfaces</div>
		    <table id="InterfacesTable" style="display: none;">
			 <th>Status</th><th>Interface</th><th>MTU</th><th>Comment</th><th>Action</th>
	         <tbody>
			   <tr>
			     <td><table><tr><td><div id="Interfaces_01" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, 'Interfaces_01', 'noText');"><div class="slideSelectorSwitchedOff"></div></div></td></tr>
				 </table></td><td>
				            <select>
 				              <option value="ipInterfacesMobile">Mobile</option> 
						      <option value="ipInterfacesEthernet">Ethernet</option>
							</select>
			     </td><td><input name="ipInterfacesMTU" type="text" size="20" value=""/></td><td><input name="ipInterfacesComment" type="text" size="20" value=""/></td><td><div class="passiveCommunicationPageButton" style="margin-left: 12%; font-size: 90%;">Add</div></td>
			   </tr>
			 </tbody>
			</table>	
		 </div>
	     <br>
		  <div style="border: solid; border-width: 0.06rem; border-color: grey;">
		   <div id="StaticRoutesIPv4TableLegend" style="text-align: left; text-decoration: underline; width: 100%; border-bottom: dashed 0.1em silver; font-weight: bold;" onclick="dropDownOrHideTable('StaticRoutesIPv4Table', 'Static Routes IPv4');">[+]  Static Routes IPv4</div>
		     <table id="StaticRoutesIPv4Table" style="display: none;">
			 <th>Status</th><th>Target Network IP</th><th>Netmask</th><th>Gateway IP</th><th>Comment</th><th>Action</th>
	         <tbody>
			   <tr>
			     <td><table><tr><td><div id="StaticRoutesIPv4_01" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, 'StaticRoutesIPv4_01', 'noText');"><div class="slideSelectorSwitchedOff"></div></div></td></tr>
				 </table></td><td>
				           <input name="ipStaticRoutesIPv4TargetNetwork" type="text" size="17" value=""/>
			     </td><td>
				           <input name="ipStaticRoutesIPv4Netmask" type="text" size="10" value=""/>
				   </td><td><input name="ipStaticRoutesIPv4Gateway" type="text" size="10" value=""/></td><td><input name="ipStaticRoutesIPv4Comment" type="text" size="20" value=""/></td><td><div class="passiveCommunicationPageButton" style="margin-left: 12%; font-size: 90%;">Add</div></td>
			   </tr>
			 </tbody>
			</table>			
		 </div>
		 <br>
		  <div style="border: solid; border-width: 0.06rem; border-color: grey;">
		   <div id="StaticRoutesIPv6TableLegend" style="text-align: left; text-decoration: underline; width: 100%; border-bottom: dashed 0.1em silver; font-weight: bold;" onclick="dropDownOrHideTable('StaticRoutesIPv6Table', 'Static Routes IPv6');">[+]  Static Routes IPv6</div>
		     <table id="StaticRoutesIPv6Table" style="display: none;">
			 <th>Status</th><th>Target Network IP</th><th>Netmask</th><th>Gateway IP</th><th>Comment</th><th>Action</th>
	         <tbody>
			   <tr>
			     <td><table><tr><td><div id="StaticRoutesIPv6_01" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, 'StaticRoutesIPv6_01', 'noText');"><div class="slideSelectorSwitchedOff"></div></div></td></tr>
				 </table></td><td>
				           <input name="ipStaticRoutesIPv6TargetNetwork" type="text" size="17" value=""/>
			     </td><td>
				           <input name="ipStaticRoutesIPv6Netmask" type="text" size="10" value=""/>
				   </td><td><input name="ipStaticRoutesIPv6Gateway" type="text" size="10" value=""/></td><td><input name="ipStaticRoutesIPv6Comment" type="text" size="20" value=""/></td><td><div class="passiveCommunicationPageButton" style="margin-left: 12%; font-size: 90%;">Add</div></td>
			   </tr>
			 </tbody>
			</table>			
		 </div>
		 <br>
		  <div style="border: solid; border-width: 0.06rem; border-color: grey;">
		   <div id="VLANTableLegend" style="text-align: left; text-decoration: underline; width: 100%; border-bottom: dashed 0.1em silver; font-weight: bold;" onclick="dropDownOrHideTable('VLANTable', 'VLAN');">[+]  VLAN</div>
		     <table id="VLANTable" style="display: none;">
			 <th>Status</th><th>Interface</th><th>VLAN ID</th><th>Comment</th><th>Action</th>
	         <tbody>
			   <tr>
			     <td><table><tr><td><div id="VLAN_01" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, 'VLAN_01', 'noText');"><div class="slideSelectorSwitchedOff"></div></div></td></tr>
				 </table>
				</td>
			     <td>
				            <select>
 				              <option value="ipVLANMobile">Mobile</option> 
						      <option value="ipVLANEthernet">Ethernet</option>
							</select>
			     </td><td><input name="ipVLANsID" type="text" size="10" value=""/></td><td><input name="ipVLANsComment" type="text" size="10" value=""/></td><td><div class="passiveCommunicationPageButton" style="text-align; font-size: 90%;">Add</div></td>
			   </tr>
			 </tbody>
			</table>
		 </div>
		 <br>
		  <div style="border: solid; border-width: 0.06rem; border-color: grey;">
		   <div id="IPv4FirewallTableLegend" style="text-align: left; text-decoration: underline; width: 100%; border-bottom: dashed 0.1em silver; font-weight: bold;" onclick="dropDownOrHideTable('IPv4FirewallTable', 'IPv4 Firewall');">[+]  IPv4 Firewall</div>
		    <table id="IPv4FirewallTable" cellpadding="0" cellspacing="0" style="display: none; white-space: nowrap; letter-spacing: 0em; text-align: center;">
			<th style="width: 7%; background-color: #e9faff;">Status</th><th style="width: 8%; background-color: #EFEFEF;">Chain</th><th style="width: 12%; background-color: #e9faff; text-align: left;">&nbsp&nbsp!&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSource</th><th style="width: 12%; background-color: #EFEFEF; text-align: left;">&nbsp&nbsp!&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDestination</th><th style="width: 7%; background-color: #e9faff;">Protocol</th><th style="width: 8%; background-color: #EFEFEF;">In Iface</th><th style="width: 8%; background-color: #e9faff;">Out Iface</th><th style="width: 7%; background-color: #EFEFEF;">&nbsp&nbsp!&nbspSrc Port</th><th style="width: 7%; background-color: #e9faff;">&nbsp&nbsp!&nbspDst Port</th><th style="width: 12%; background-color: #EFEFEF;">Comment</th><th style="width: 10%; background-color: #e9faff;">Action</th>
	         <tbody>
			   <tr><td style="background-color: #e9faff;"><table><tr><td><div id="FirewallIPv4_01" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, 'FirewallIPv4_01', 'noText');"><div class="slideSelectorSwitchedOff"></div></div></td></tr>
				 </table></td>
			     <td style="background-color: #EFEFEF;"><select>
 				     <option value="IPv4FirewallTableChainForward">forward</option> 
					 <option value="IPv4FirewallTableChainInput">input</option>
					 <option value="IPv4FirewallTableChainOutput">output</option>
			     </select></td>
				 <td style="background-color: #e9faff;"><input name="notSoruce" type="checkbox"/><input name="IPv6FirewallTableSourceAddress" type="text" size="15" value=""/>
				 </td>
				 <td style="background-color: #EFEFEF;"><input name="notDestination" type="checkbox"/><input name="IPv6FirewallTableDestinationAddress" type="text" size="15" value=""/>
				 </td>
				  <td style="background-color: #e9faff;"><!--input name="notProtocol" type="checkbox"/-->
				     <select>
 				     <option value="IPv4FirewallTableChainProtocolTCP">tcp</option> 
					 <option value="IPv4FirewallTableChainProtocolUDP">udp</option>
					 <option value="IPv4FirewallTableChainProtocolICMP">icmp</option>
					</select>
			     </td>
				 <td style="background-color: #EFEFEF;"><!--input name="notInInterface" type="checkbox"/--><select>
 				       <option value="IPv4FirewallTableInIfaceMobile">Mobile</option> 
					   <option value="IPv4FirewallTableInIfaceEthernet">Ethernet</option>
					   <option value="IPv4FirewallTableInIfaceBridge">Bridge</option>
				 </select></td>
				 <td style="background-color: #e9faff;"><!--input name="notOutInterface" type="checkbox"/--><select>
 				       
					   <option value="IPv4FirewallTableInIfaceEthernet">Ethernet</option>
					   <option value="IPv4FirewallTableInIfaceMobile">Mobile</option> 
					   <option value="IPv4FirewallTableInIfaceBridge">Bridge</option>
				</select></td>
				 <td style="background-color: #EFEFEF;"><input name="notSorucePort" type="checkbox"/><input name="IPv4FirewallTableSourcePort" type="text" size="5" value=""/>
				 </td>
				 <td style="background-color: #e9faff;"><input name="notDestinationPort" type="checkbox"/><input name="IPv4FirewallTableDestinationPort" type="text" size="5" value=""/>
				 </td>
				 <td style="background-color: #EFEFEF;"><input name="IPv4FirewallTableComment" type="text" size="16" value=""/></td>
				 <td style="background-color: #e9faff;"><!--div class="passiveCommunicationPageButton" style="margin-left: 1%; font-size: 90%;">Edit</div><div class="passiveCommunicationPageButton" style="margin-left: 12%; font-size: 90%;">Remove</div--><div class="passiveCommunicationPageButton" style="text-align: center; font-size: 90%;">Add</div></td>
			   </tr>
			 </tbody>
			</table>	 
		 </div>
		  <br>
		  <div style="border: solid; border-width: 0.06rem; border-color: grey;">
		   <div id="IPv6FirewallTableLegend" style="text-align: left; text-decoration: underline; width: 100%; border-bottom: dashed 0.1em silver; font-weight: bold;" onclick="dropDownOrHideTable('IPv6FirewallTable', 'IPv6 Firewall');">[+]  IPv6 Firewall</div>
		     <table id="IPv6FirewallTable" cellpadding="0" cellspacing="0" style="display: none; white-space: nowrap; letter-spacing: 0em; text-align: center;">
			<th style="width: 7%; background-color: #e9faff;">Status</th><th style="width: 8%; background-color: #EFEFEF;">Chain</th><th style="width: 12%; background-color: #e9faff; text-align: left;">&nbsp&nbsp!&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSource</th><th style="width: 12%; background-color: #EFEFEF; text-align: left;">&nbsp&nbsp!&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDestination</th><th style="width: 7%; background-color: #e9faff;">Protocol</th><th style="width: 8%; background-color: #EFEFEF;">In Iface</th><th style="width: 8%; background-color: #e9faff;">Out Iface</th><th style="width: 7%; background-color: #EFEFEF;">&nbsp&nbsp!&nbspSrc Port</th><th style="width: 7%; background-color: #e9faff;">&nbsp&nbsp!&nbspDst Port</th><th style="width: 12%; background-color: #EFEFEF;">Comment</th><th style="width: 10%; background-color: #e9faff;">Action</th>
	         <tbody>
			   <tr><td style="background-color: #e9faff;"><table><tr><td><div id="FirewallIPv6_01" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, 'FirewallIPv6_01', 'noText');"><div class="slideSelectorSwitchedOff"></div></div></td></tr>
				 </table></td>
			     <td style="background-color: #EFEFEF;"><select>
 				     <option value="IPv6FirewallTableChainForward">forward</option> 
					 <option value="IPv6FirewallTableChainInput">input</option>
					 <option value="IPv6FirewallTableChainOutput">output</option>
			     </select></td>
				 <td style="background-color: #e9faff;"><input name="notSoruce" type="checkbox"/><input name="IPv6FirewallTableSourceAddress" type="text" size="15" value=""/>
				 </td>
				 <td style="background-color: #EFEFEF;"><input name="notDestination" type="checkbox"/><input name="IPv6FirewallTableDestinationAddress" type="text" size="15" value=""/>
				 </td>
				  <td style="background-color: #e9faff;"><!--input name="notProtocol" type="checkbox"/-->
				     <select>
 				     <option value="IPv6FirewallTableChainProtocolTCP">tcp</option> 
					 <option value="IPv6FirewallTableChainProtocolUDP">udp</option>
					 <option value="IPv6FirewallTableChainProtocolICMP">icmp</option>
					</select>
			     </td>
				 <td style="background-color: #EFEFEF;"><!--input name="notInInterface" type="checkbox"/--><select>
 				       <option value="IPv6FirewallTableInIfaceMobile">Mobile</option> 
					   <option value="IPv6FirewallTableInIfaceEthernet">Ethernet</option>
					   <option value="IPv6FirewallTableInIfaceBridge">Bridge</option>
				 </select></td>
				 <td style="background-color: #e9faff;"><!--input name="notOutInterface" type="checkbox"/--><select> 			  
					   <option value="IPv6FirewallTableInIfaceEthernet">Ethernet</option>
					   <option value="IPv6FirewallTableInIfaceMobile">Mobile</option> 
					   <option value="IPv6FirewallTableInIfaceBridge">Bridge</option>
				</select></td>
				 <td style="background-color: #EFEFEF;"><input name="notSorucePort" type="checkbox"/><input name="IPv6FirewallTableSourcePort" type="text" size="5" value=""/>
				 </td>
				 <td style="background-color: #e9faff;"><input name="notDestinationPort" type="checkbox"/><input name="IPv6FirewallTableDestinationPort" type="text" size="5" value=""/>
				 </td>
				 <td style="background-color: #EFEFEF;"><input name="IPv6FirewallTableComment" type="text" size="16" value=""/></td>
				 <td style="background-color: #e9faff;"><!--div class="passiveCommunicationPageButton" style="margin-left: 1%; font-size: 90%;">Edit</div><div class="passiveCommunicationPageButton" style="margin-left: 12%; font-size: 90%;">Remove</div--><div class="passiveCommunicationPageButton" style="text-align: center; font-size: 90%;">Add</div></td>
			   </tr>
			 </tbody>
			</table>	 
		   </div>
		   <br>
		  <div style="border: solid; border-width: 0.06rem; border-color: grey;">
		   <div id="PortForwardingTableLegend" style="text-align: left; text-decoration: underline; width: 100%; border-bottom: dashed 0.1em silver; font-weight: bold;" onclick="dropDownOrHideTable('PortForwardingTable', 'Port Forwarding');">[+]  Port Forwarding</div>
		     <table id="PortForwardingTable" cellpadding="0" cellspacing="0" style="display: none; white-space: nowrap; letter-spacing: 0em; text-align: center; width: 100%;">
			<th style="width: 5%; background-color: #e9faff;">Status</th><th style="width: 15%; background-color: #EFEFEF;"> Source Interface</th><th style="width: 15%; background-color: #e9faff; text-align: center;">Source IP</th><th style="width: 8%; background-color: #EFEFEF;">Src. Port</th><th style="width: 15%; background-color:  #e9faff; text-align: center;">Destination IP</th><th style="width: 8%; background-color: #EFEFEF;">Dst. Port</th><th style="width: 8%; background-color: #e9faff;">Protocol</th><th style="width: 16%; background-color: #EFEFEF;">Comment</th><th style="width: 10%; background-color: #e9faff;">Action</th>
	         <tbody>
			   <tr><td style="background-color: #e9faff;"><table><tr><td><div id="portForwardingRule_01" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, 'portForwardingRule_01', 'noText');"><div class="slideSelectorSwitchedOff"></div></div></td></tr>
				 </table></td>
			     <td style="background-color: #EFEFEF;"><!--input name="notInInterface" type="checkbox"/--><select>
 				       <option value="PortForwardingIfaceMobile">Mobile</option> 
					   <option value="PortForwardingIfaceEthernet">Ethernet</option>
					   <option value="PortForwardingIfaceBridge">Bridge</option>
				 </select></td>
				 <td style="background-color: #e9faff;"><input name="PortForwardingSourceAddress" type="text" size="15" value=""/>
				 </td>
				 <td style="background-color: #EFEFEF;"><input name="PortForwardingSourcePort" type="text" size="5" value=""/>
				 </td>
				 <td style="background-color: #e9faff;"><input name="PortForwardingDestinationAddress" type="text" size="15" value=""/>
				 </td>
				 <td style="background-color:#EFEFEF;"><input name="PortForwardingDestinationPort" type="text" size="5" value=""/>
				  <td style="background-color:  #e9faff;"><select>
 				     <option value="PortForwardingProtocolTCP">tcp</option> 
					 <option value="PortForwardingProtocolUDP">udp</option>
					</select>
			     </td>
				 <td style="background-color: #EFEFEF;"><input name="PortForwardingComment" type="text" size="16" value=""/></td>
				 <td style="background-color: #e9faff;"><!--div class="passiveCommunicationPageButton" style="margin-left: 1%; font-size: 90%;">Edit</div><div class="passiveCommunicationPageButton" style="margin-left: 12%; font-size: 90%;">Remove</div--><div class="passiveCommunicationPageButton" style="text-align: center; font-size: 90%;">Add</div></td>
			   </tr>
			 </tbody>
			</table>	 
		   </div>
		   <br>
			</div>
</section>				
 <!--div class="keyDataFont" style="display: block; color: brown;">
     <div style="display: inline-table;">Traffic</div> 
     <div style="display: inline-table;">ARP</div>
	 <div style="display: inline-table;">Interfaces</div>
	 <div style="display: inline-table;">Routes</div>
     <div style="display: inline-table;">DHCP Client</div>
	 <div style="display: inline-table;">Firewall</div>
	 <div style="display: inline-table;">Port Forwarding</div>
	 <div style="display: inline-table;">Log</div>
 </div-->