<header>
    <h1>Auth Page</h1>
</header>
<main ng-controller="AuthCtrl" class="AuthPage">
  <div>
    <p ng-bind="message">Choose your destiny</p>
    <ul class="loginLabels">
        <li><label for="login">Login:</label></li>
        <li><label for="password">Password:</label></li>
    </ul>
    <ul>
        <li><input id="login" ng-model="login" type="text" size="20" placeholder="mylogin"></li>
        <li><input id="password" ng-model="password" type="text"  size="20" placeholder="mypassword"></li>
        <li><button ng-click="loginMethod(login, password)">I'm in</button></li>
    </ul>
</div>
</main>
