<section id="container" ng-controller="MainPageCtrl">
	 <div class="separateString">Main (Status)</div>
	 <table class="">
	   <tr><td class="staticRight">Device Model:</td><td class="staticLeft">{{main.DeviceModel}}</td></tr>
	   <tr><td class="staticRight">Hostname:</td><td class="staticLeft">{{main.DeviceHostname}}</td></tr>
	   <tr><td class="staticRight">Hardware version:</td><td class="staticLeft">{{main.DeviceVersion.hw}}</td></tr>
	   <tr><td class="staticRight">Software version:</td><td class="staticLeft">{{main.DeviceVersion.sw}}</td></tr>
	   <tr><td class="staticRight">Uptime:</td><td class="staticLeft">{{main.DeviceTimeing.uptime}}</td></tr>
	   <tr><td class="staticRight">Start date:</td><td class="staticLeft">{{main.DeviceTimeing.starttime}}</td></tr>
	   <tr><td class="staticRight">Angular:</td><td class="staticLeft">{{test}}</td></tr>
	  </table>
	  <table class="">
	   <tr><td class="staticRight">LAN0 MAC:</td><td class="staticLeft">{{main.DeviceCommunications.lan.ports.eth0.mac}}</td></tr>
	   <tr><td class="staticRight">LAN0 IP:</td><td class="staticLeft">{{main.DeviceCommunications.lan.ports.eth0.ip}}</td></tr>
	   <tr><td class="staticRight">Mobile Type:</td><td class="staticLeft">{{main.DeviceCommunications.wireless.ports.ath0.portstatus}}</td></tr>
	   <tr><td class="staticRight">Mobile Signal:</td><td class="staticLeft" ng-class="[$root.monitor.signalLevel>=30 ? 'positiveStatus':'negativeStatus']">{{$root.monitor.signalLevel | mainPageMobileSignalLevel}}</td></tr>
	   <tr><td class="staticRight">SNMP:</td><td class="staticLeft">{{main.DeviceServices.snmp.version +" "+ main.DeviceServices.snmp.type}}</td></tr>
	   <tr><td class="staticRight">Web-Proxy:</td><td class="staticLeft">{{[{"page": "main","statusType": "text", "status": main.DeviceServices.snmp.status}] | boolToText}}</td></tr>
	  </table>
</section>	  