<main ng-controller="AppCtrl">	
<header ng-show="modalWindowShowingFlag">
		<h1>Rele Web Control Page</h1>
		<div class="modalWindow">
			<p>A you sure about making changes ?<br>
				  You can change everything EVEN NOW !<br>
				  All changes will be canceled/applied after you press appropriate button
			</p>
			<ul class="modalButtonsContainer">
				<li><button class="modalButtons_apply" ng-click="$root.applyChanges()">Apply</button></li>
				<li><button class="modalButtons_test" ng-click="$root.testChanges()">Test</button></li>
				<li><button class="modalButtons_cancel" ng-click="$root.cancelChanges()">Cancel</button></li>
			</ul>
		</div>
	</header>
	<article class="pageGlobal">
		<div class="headerContainer">
			<section class="releInteractiveImg">
				<img src="assets/img/des-3200-28.png">
				<div class="powerBlock">Power {{monitor.DevicePower.supplytype[monitor.DevicePower.supplyfrom].type}}:<img src="assets/img/plugPower.svg" class="powerIcons" /></div>
			</section>
			<section class="topRightStat">
				<table id="mainPageInfoLeftTopTable">
					<tr>
						<td class="staticRight" style="width: 25%;">CPU:</td>
						<td class="staticLeft" style="width: 75%;">
							<table>
								<tr>
									<td style="text-align: center;">
										<div class="systemStatCPUBox">
											<div id="cpuLoadProgressGraph" class="systemStatCPUBoxProgress" ng-style="{'width': 100-monitor.cpuLoad+'%'}"></div>
										</div>
									</td>
									<td>
										<div id="cpuLoadProgressText" class="keyDataFont"> {{monitor.cpuLoad}}%</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="staticRight">Memory:</td>
						<td class="staticLeft">
							<table>
								<tr>
									<td style="text-align: center;">
										<div class="systemStatCPUBox">
											<div id="memoryLoadProgressGraph" class="systemStatCPUBoxProgress" ng-style="{'width': 100-monitor.memoryUsage+'%'}"></div>
										</div>
									</td>
									<td>
										<div id="memoryLoadProgressText" class="keyDataFont"> {{monitor.memoryUsage}}%</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="staticRight">Ethernet:</td>
						<td class="staticLeft">{{monitor.DeviceCommunications.lan.ports.eth0.portstatus}}</td>
					</tr>
					<tr>
						<td class="staticRight">Wireless:</td>
						<td class="staticLeft">
							<div id="WwirelessConnectionTypeInfo" ng-class="[monitor.signalLevel ? '' : 'negativeStatus']" style="position: relative;">{{monitor.signalLevel ? monitor.DeviceCommunications.wireless.ports.ath0.portstatus : 'No signal'}}<div
								 class="wirelessSignal">
									<div class="mobileSignalStrength">
										<span class="wirelessConnectionTypeInfo"></span>
										<img src="assets/img/level10.png" ng-class="[monitor.signalLevel>0 ? 'showClass' : 'hideClass']"/>
										<img src="assets/img/level25.png" ng-class="[monitor.signalLevel>=15 ? 'showClass' : 'hideClass']"/>
										<img src="assets/img/level45.png" ng-class="[monitor.signalLevel>=30 ? 'showClass' : 'hideClass']"/>
										<img src="assets/img/level70.png" ng-class="[monitor.signalLevel>=60 ? 'showClass' : 'hideClass']"/>
										<img src="assets/img/level85.png" ng-class="[monitor.signalLevel>=85 ? 'showClass' : 'hideClass']"/>
									</div>
								</div>
						</td>
					</tr>
				</table>
			</section>
		</div>
		<div class="navigationContainer">
			<section class="mainNavigation">
				<nav>
					<ul class="navigationList">
						<li><a href="/main" ng-class="[$root.locationFlag == '/' || $root.locationFlag == 'main' ? 'navigation--a__selected' : 'navigation--a__notSelected']">Main</a></li>
						<li><a href="/sockets" ng-class="[$root.locationFlag == 'sockets' ? 'navigation--a__selected' : 'navigation--a__notSelected']">Sockets</a></li>
						<li><a href="/poe" ng-class="[$root.locationFlag == 'poe' ? 'navigation--a__selected' : 'navigation--a__notSelected']">PoE</a></li>
						<li><a href="/pirepheral" ng-class="[$root.locationFlag == 'pirepheral' ? 'navigation--a__selected' : 'navigation--a__notSelected']">Pirepheral</a></li>
						<li><a href="/services" ng-class="[$root.locationFlag == 'services' ? 'navigation--a__selected' : 'navigation--a__notSelected']">Services</a></li>
						<li><a href="/communications" ng-class="[$root.locationFlag == 'communications' ? 'navigation--a__selected' : 'navigation--a__notSelected']">Communications</a></li>
						<li><a href="/settings" ng-class="[$root.locationFlag == 'settings' ? 'navigation--a__selected' : 'navigation--a__notSelected']">Settings</a></li>
						<li><a href="/stats" ng-class="[$root.locationFlag == 'stats' ? 'navigation--a__selected' : 'navigation--a__notSelected']">Stats</a></li>
						<li><a href="/webproxy" ng-class="[$root.locationFlag == 'webproxy' ? 'navigation--a__selected' : 'navigation--a__notSelected']">Web-Proxy</a></li>
						<li><a href="/vpn" ng-class="[$root.locationFlag == 'vpn' ? 'navigation--a__selected' : 'navigation--a__notSelected']">VPN</a></li>
						<li><a href="/ups" ng-class="[$root.locationFlag == 'ups' ? 'navigation--a__selected' : 'navigation--a__notSelected']">UPS</a></li>
						<li><a href="/log" ng-class="[$root.locationFlag == 'log' ? 'navigation--a__selected' : 'navigation--a__notSelected']">Log</a></li>
					</ul>
					<a href="/logout" class="logout">Logout</a>
				</nav>
				
			</section>
		</div>
		<div class="contentContainer" ng-view="pageContent">
			<!--section id="container" ng-view>img Angular {{2+2}}
			</section-->
		</div>
	</article>
</main>