<section id="container" ng-controller="PirepheralCtrl"> 
  <table id="" style="width: 100%;"><tr><td><span class="separateString">Pirepheral</span></td></tr>
  <tr><td style="text-align: center;"><img src="assets/img/comingSoon.png"/></td>
  </tr>
 </table> 
</section>