<section id="container" ng-controller="PoeCtrl">
	<div class="separateString">PoE</div>
	<div class="socketsContainer" ng-repeat="poeSocket in poe">
		<section class="socketStatusImageBlock">
			<img src="./assets/img/rj45socketEthernet.svg" class="rj45Socket" />
			<span class="socketNumber">№ {{poeSocket.number}}</span>
			<button id="rebootSocketButton_{{poeSocket.number}}" class="rebootButton2">Reboot</button>
		</section>
		<section class="socketSwitcher">
			<div>
				<ul>
					<li><span class="staticRight keyDataFont">Status:</span></li>
					<li><span class="staticRight rowColor">Out voltage: </span></li>
					<li><span class="staticRight rowColor">Cable:</span></li>
				</ul>
				<ul>
					<li>
						<div class="switchButtonContainer">
							<div ng-class="[poe[$index].status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF </div>
							<div ng-class="[poe[$index].status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']" ng-click="turnOnOff(poe, {'switcherFor': 'poe', 'switcherId': $index, 'currentStatus': poe[$index].status});">
								<div ng-class="[poe[$index].status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
							</div>
							<div ng-class="[poe[$index].status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']"> ON</div>
						</div>
					</li>
					<li><select ng-model="poeSocket.outVoltage" ng-change="showModalWindow()" ng-options="poeSocketVoltage+' V' for poeSocketVoltage in poeSocket.avlOut"
						 ng-disabled="!poe[$index].status">
						</select>
					</li>
					<li><span ng-class="['staticLeft', 'keyDataFont', poeSocket.cableStatus ? 'positiveStatus' : 'negativeStatus']">{{[{"page":
							"poe", "status": poeSocket.cableStatus,"statusType": "text"}] | boolToText}}</span></li>
				</ul>
			</div>
		</section>
		<section class="socketCurrentStat">
			<div>
				<ul>
					<li>Current:</li>
					<li>Voltage:</li>
					<li>Consumption:</li>
				</ul>
				<ul>
					<li>{{poeSocket.status && poeSocket.cableStatus ? poeSocket.stat.current+' A': '---'}}</li>
					<li>{{poeSocket.status && poeSocket.cableStatus ? poeSocket.outVoltageType+' - '+poeSocket.outVoltage+' V':
						'---'}}</li>
					<li>{{poeSocket.status && poeSocket.cableStatus ? (poeSocket.stat.current*poeSocket.outVoltage)+' W' : '---'}}</li>
				</ul>
			</div>
		</section>
		<section class="socketStatCharts">
			<div>
				<ul class="keyDataFont" style="white-space: nowrap;">
					<li><span class="rowColor">Comment:</span><textarea rows="1" cols="1" ng-model="poeSocket.comment" ng-change="showHideButtons($index)">{{poeSocket.comment}}</textarea></li>
					<li><button class="addEditButton2">Commutation stat</button></li>
					<li><button class="addEditButton2">Power stat</button></li>
				</ul>
				<ul class="hidden-buttons-container" ng-show="hiddenButtonsFlag && hiddenSocketIndex==$index">
					<li><button class="hidden-button-apply" ng-click="saveStateChanges()">Save</button></li>
					<li><button class="hidden-button-cancel" ng-click="cancelStateChanges()">Cancel</button></li>
				</ul>
			</div>
		</section>
		<section class="socketRulesSchedules">
			<div>
				<ul>
					<li><span>Schedules: ({{poeSocket.schedules.count}})</span></li>
					<li><span>Rules ({{poeSocket.rules.count}})</span></li>
				</ul>
				<ul>
					<li><button class="addEditButton2">Edit/Add</button></li>
					<li><button class="addEditButton2">Add</button></li>
				</ul>
				<div><button id="addNewSocketSchedule_{{poeSocket.number}}" class="addEditButton2">Execution log</button></div>
			</div>
		</section>
	</div>
</section>