  <table id="mainSocketsData"><tr><td><div class="separateString">PoE</div></td></tr>
    <tr><td>
	 <table id="fdf"  cellspacing="0" style="width: 100%; height: 100%; table-layout: fixed; border: solid; border-color: #706870; border-width: 0.15em;">
	  <!--first socket-->
	   <tr>
	    <td>
	    <table style="width: 100%; height: 100%;">
		 <tr>

	     <td style="text-align: center; width: 15%;"><img src="assets/img/rj45socketEthernet.svg" class="rj45Socket"/>
	         <!--div class="c13SocketCover" style="margin-top: -5.7%; margin-left: 3.6%;"></div-->
			</td>
			<td style="width: 85%;">
			 <table style="width: 100%; height: 100%;">
			   <tr><td style="width: 5%; text-align: center; border-style: dashed; border-width: 0.15em; border-color: #2A2252;"><span style="font-weight: 700; font-size: 115%;">№ 1</span></td><td class="staticRight keyDataFont" style="width: 11%;">Status:</td>
			      <td class="staticCenter" style="width: 10%;" > 
				<table><tr><td>
					    <div id="socketSwitchLeftText_01" class="socketSwitchedOnLeftText">OFF </div></td><td>
						 <div id="socket_01" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '01');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="socketSwitchRightText_01" class="socketSwitchedOnRightText"> ON</div>
				    </td></tr>
					</table>
				 </td>
			   <td class="staticRight keyDataFont rowColor" style="width: 8%;">Current:</td><td class="keyDataFont" style="width: 8%; margin-left: 1%;">---</td><td class="keyDataFont" style="width: 24%; white-space: nowrap;"><span style="vertical-align: top;" class="rowColor">Comment:</span> <!--input name="poeSocketComment" type="text" size="17" value="Nanonstation M5 Base"/--><textarea rows="2" cols="17" style="width: 9em; height: 2.3em; overflow: auto;">Nanonstation M5 Base</textarea></td><td class="staticLeft keyDataFont" style="width: 23%; white-space: nowrap;"><div style="display: inline-table;">Schedules: (3)</div><div class="addEditButton2" style="display: inline-table; width: 30%; margin-left: 8%;">Edit/Add</div></td></tr>
			    <tr><td style="text-align: center; font-weight: 700;"></td><td class="staticRight rowColor">Out voltage: </td>
				  <td>
				   <select><option value="12">12 Volt</option>
		                        <option value="18">18 Volt</option>
								<option value="24">24 Volt</option>
								<option value="30">30 Volt</option>
								<option value="36">36 Volt</option>
								<option value="42">42 Volt</option>
								<option value="48">48 Volt</option>
											</select> 
				  </td>
				<td class="staticRight keyDataFont rowColor" style="border-left: dashed 0.1em grey;">Voltage:</td><td class="staticLeft keyDataFont">---</td><td class="staticLeft" style="border-left: dashed 0.1em grey;"><div class="addEditButton2" style="width: 80%; margin-left: 5%;">Commutation stat</div></td><td class="staticLeft keyDataFont" style="border-left: dashed 0.1em grey; white-space: nowrap"><div style="display: inline-table;">Rules (0)<div class="addEditButton2" style="width: 40%; display: inline-table; margin-left: 48%;">Add</div></td></tr>
				 <tr><td style="text-align: left; font-weight: 700;"><div id="rebootSocketButton_01" class="rebootButton2">Reboot</div></td><td class="staticRight rowColor">Cable:</td><td class="staticLeft keyDataFont negativeStatus">Unplaged</td><td class="staticRight keyDataFont rowColor">Consumption:</td><td class="staticLeft keyDataFont">---</td><td class="staticCenter"><div id="addNewSocketRule_01" class="addEditButton2" style="width: 70%; margin-left: 15%;">Power stat</div></td><td style="text-align: center;"><div id="addNewSocketSchedule_01" class="addEditButton2" style="width: 60%; margin-left: 20%;">Execution log</div></td></tr>
				  <!--tr><td class="staticCenter">UnPluged</td><td colspan="2" class="staticCenter">More stats</td><td></td></tr-->
			  </table>
			  </td>
			  </tr>
			  </table>
			  </td>
			</tr>
 </table> 
   </td></tr>
 </table>