<section id="container" ng-controller="ServicesCtrl">
    <div class="separateString">Services</div>
    <section>
        <p class="serviceHeader">Web Server</p>
        <table>
            <tr>
                <td><label>Web server status</label></td>
                <td>
                    <div class="switchButtonContainer">
                        <div ng-class="[services.webServer.status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF
                        </div>
                        <div ng-class="[services.webServer.status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']" ng-click="turnOnOff(settings, {'switcherFor': 'servicesPage', 'switcherId': 'status', 'currentStatus': services.webServer});">
                            <div ng-class="[services.webServer.status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                        </div>
                        <div ng-class="[services.webServer.status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']">
                            ON</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>HTTP</label></td>
                <td>
                    <div class="switchButtonContainer">
                        <div ng-class="[services.webServer.http.status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF
                        </div>
                        <div ng-class="[services.webServer.http.status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']"
                            ng-click="turnOnOff(settings, {'switcherFor': 'servicesPage', 'switcherId': 'status', 'currentStatus': services.webServer.http});">
                            <div ng-class="[services.webServer.http.status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                        </div>
                        <div ng-class="[services.webServer.http.status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']">
                            ON</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>HTTPS</label></td>
                <td>
                    <div class="switchButtonContainer">
                        <div ng-class="[services.webServer.https.status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF
                        </div>
                        <div ng-class="[services.webServer.https.status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']"
                            ng-click="turnOnOff(settings, {'switcherFor': 'servicesPage', 'switcherId': 'status', 'currentStatus': services.webServer.https});">
                            <div ng-class="[services.webServer.https.status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                        </div>
                        <div ng-class="[services.webServer.https.status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']">
                            ON</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>HTTPS port:</label></td>
                <td><input type="text" size="5" value="{{services.webServer.https.port}}" ng-model="services.webServer.https.port" ng-change="showModalWindow()" ng-disabled="!services.webServer.status || !services.webServer.https.status"/></td>
            </tr>
            <tr>
                <td><label>HTTP port:</label></td>
                <td><input type="text" size="5" value="{{services.webServer.http.port}}" ng-model="services.webServer.http.port" ng-change="showModalWindow()" ng-disabled="!services.webServer.status || !services.webServer.http.status"/></td>
            </tr>
            <tr>
                <td><label>session timeout:</label></td>
                <td><input type="text" size="5" value="{{services.webServer.sessionTimeout/60}}" ng-model="services.webServer.sessionTimeout" ng-change="showModalWindow()" ng-disabled="!services.webServer.status || (!services.webServer.http.status && !services.webServer.https.status)"/> min</td>
            </tr>
        </table>
    </section>
    <section>
        <p class="serviceHeader">SSH Server</p>
        <table>
            <tr>
                <td><label>SSH server status</label></td>
                <td>
                    <div class="switchButtonContainer">
                        <div ng-class="[services.sshServer.status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF
                        </div>
                        <div ng-class="[services.sshServer.status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']" ng-click="turnOnOff(settings, {'switcherFor': 'servicesPage', 'switcherId': 'status', 'currentStatus': services.sshServer});">
                            <div ng-class="[services.sshServer.status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                        </div>
                        <div ng-class="[services.sshServer.status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']">
                            ON</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>SSH port:</label></td>
                <td><input type="text" size="5" value="{{services.sshServer.port}}" ng-model="services.sshServer.port" ng-change="showModalWindow()" ng-disabled="!services.sshServer.status" /></td>
            </tr>
            <tr>
                <td><label>Password Auth:</label></td>
                <td>
                    <div class="switchButtonContainer">
                        <div ng-class="[services.sshServer.passwordAuth ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF
                        </div>
                        <div ng-class="[services.sshServer.passwordAuth ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']"
                            ng-click="turnOnOff(settings, {'switcherFor': 'servicesPage', 'switcherId': 'passwordAuth', 'currentStatus': services.sshServer});">
                            <div ng-class="[services.sshServer.passwordAuth ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                        </div>
                        <div ng-class="[services.sshServer.passwordAuth ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']">
                            ON</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>Authorized keys:</label></td>
                <td><input type="text" size="20" value="{{services.sshServer.authKeys}}" ng-model="services.sshServer.authKeys" ng-change="showModalWindow()" ng-disabled="!services.sshServer.status || !services.sshServer.passwordAuth" /></td>
            </tr>
        </table>
    </section>
    <section>
        <p class="serviceHeader">SNMP Server</p>
        <table>
            <tr>
                <td><label>SNMP server status</label></td>
                <td>
                    <div class="switchButtonContainer">
                        <div ng-class="[services.snmpServer.status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF
                        </div>
                        <div ng-class="[services.snmpServer.status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']"
                            ng-click="turnOnOff(settings, {'switcherFor': 'servicesPage', 'switcherId': 'status', 'currentStatus': services.snmpServer});">
                            <div ng-class="[services.snmpServer.status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                        </div>
                        <div ng-class="[services.snmpServer.status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']">
                            ON</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>SNMP version:</label></td>
                <td><select ng-model="services.snmpServer.versionSelected" ng-change="showModalWindow()" ng-options="'v'+snmpVersion for snmpVersion in services.snmpServer.version"
                        ng-disabled="!services.snmpServer.status">
                    </select></td>
            </tr>
            <tr>
                <td><label>SNMP type:</label></td>
                <td><select ng-model="services.snmpServer.typeSelected" ng-change="showModalWindow()" ng-options="snmpType for snmpType in services.snmpServer.type"
                        ng-disabled="!services.snmpServer.status">
                    </select></td>
            </tr>
            <tr>
                <td><label>SNMP community:</label></td>
                <td><input type="text" size="20" value="{{services.snmpServer.community}}" ng-model="services.snmpServer.community" ng-change="showModalWindow()" ng-disabled="!services.snmpServer.status" /></td>
            </tr>
            <tr>
                <td><label>contact:</label></td>
                <td><input type="text" size="20" value="{{services.snmpServer.contact}}" ng-model="services.snmpServer.contact" ng-change="showModalWindow()" ng-disabled="!services.snmpServer.status" /></td>
            </tr>
            <tr>
                <td><label>location:</label></td>
                <td><input type="text" size="20" value="{{services.snmpServer.location}}" ng-model="services.snmpServer.location" ng-change="showModalWindow()" ng-disabled="!services.snmpServer.status" /></td>
            </tr>
        </table>
    </section>
    <section>
        <p class="serviceHeader">System log</p>
        <table>
            <tr>
                <td><label>System log status</label></td>
                <td>
                    <div class="switchButtonContainer">
                        <div ng-class="[services.syslogServer.status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF
                        </div>
                        <div ng-class="[services.syslogServer.status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']"
                            ng-click="turnOnOff(settings, {'switcherFor': 'servicesPage', 'switcherId': 'status', 'currentStatus': services.syslogServer});">
                            <div ng-class="[services.syslogServer.status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                        </div>
                        <div ng-class="[services.syslogServer.status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']">
                            ON</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>Remote log status:</label></td>
                <td>
                    <div class="switchButtonContainer">
                        <div ng-class="[services.syslogServer.remoteLog.status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF
                        </div>
                        <div ng-class="[services.syslogServer.remoteLog.status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']"
                            ng-click="turnOnOff(settings, {'switcherFor': 'servicesPage', 'switcherId': 'status', 'currentStatus': services.syslogServer.remoteLog});">
                            <div ng-class="[services.syslogServer.remoteLog.status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                        </div>
                        <div ng-class="[services.syslogServer.remoteLog.status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']">
                            ON</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>Remote log server IP:</label></td>
                <td><input type="text" size="20" value="{{services.syslogServer.remoteLog.ip}}" ng-model="services.syslogServer.remoteLog.ip" ng-change="showModalWindow()" ng-disabled="!services.syslogServer.status || !services.syslogServer.remoteLog.status" /></td>
            </tr>
            <tr>
                <td><label>Remote log server port:</label></td>
                <td><input type="text" size="20" value="{{services.syslogServer.remoteLog.port}}" ng-model="services.syslogServer.remoteLog.port" ng-change="showModalWindow()" ng-disabled="!services.syslogServer.status || !services.syslogServer.remoteLog.status" /></td>
            </tr>
            <tr>
                <td><label>TCP protocol:</label></td>
                <td>
                    <div class="switchButtonContainer">
                        <div ng-class="[services.syslogServer.remoteLog.tcpProtocolStatus ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF
                        </div>
                        <div ng-class="[services.syslogServer.remoteLog.tcpProtocolStatus ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']"
                            ng-click="turnOnOff(settings, {'switcherFor': 'servicesPage', 'switcherId': 'tcpProtocolStatus', 'currentStatus': services.syslogServer.remoteLog});">
                            <div ng-class="[services.syslogServer.remoteLog.tcpProtocolStatus ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                        </div>
                        <div ng-class="[services.syslogServer.remoteLog.tcpProtocolStatus ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']">
                            ON</div>
                    </div>
                </td>
            </tr>
        </table>
    </section>
    <section>
        <p class="serviceHeader">Dynamic DNS</p>
        <table>
            <tr>
                <td><label>Dynamic DNS status</label></td>
                <td>
                    <div class="switchButtonContainer">
                        <div ng-class="[services.dynDnsClient.status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF
                        </div>
                        <div ng-class="[services.dynDnsClient.status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']"
                            ng-click="turnOnOff(settings, {'switcherFor': 'servicesPage', 'switcherId': 'status', 'currentStatus': services.dynDnsClient});">
                            <div ng-class="[services.dynDnsClient.status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                        </div>
                        <div ng-class="[services.dynDnsClient.status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']">
                            ON</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>Service:</label></td>
                <td><select ng-model="services.dynDnsClient.serviceSelected" ng-change="service for service in services.dynDnsClient.service" ng-options="dynDnsService for dynDnsService in services.dynDnsClient.service"
                        ng-disabled="!services.dynDnsClient.status">
                    </select></td>
            </tr>
            <tr>
                <td><label>Hostname:</label></td>
                <td><input type="text" size="20" value="{{services.dynDnsClient.hostname}}" ng-model="services.dynDnsClient.hostname" ng-change="showModalWindow()" ng-disabled="!services.dynDnsClient.status" /></td>
            </tr>
            <tr>
                <td><label>Username:</label></td>
                <td><input type="text" size="20" value="{{services.dynDnsClient.username}}" ng-model="services.dynDnsClient.username" ng-change="showModalWindow()" ng-disabled="!services.dynDnsClient.status" /></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td><input type="text" size="20" value="{{services.dynDnsClient.password}}" ng-model="services.dynDnsClient.password" ng-change="showModalWindow()" ng-disabled="!services.dynDnsClient.status" /></td>
            </tr>
        </table>
    </section>
    <section>
        <p class="serviceHeader">NTP Client</p>
        <table>
            <tr>
                <td><label>NTP Client status</label></td>
                <td>
                    <div class="switchButtonContainer">
                        <div ng-class="[services.ntpClient.status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']">OFF
                        </div>
                        <div ng-class="[services.ntpClient.status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']" ng-click="turnOnOff(settings, {'switcherFor': 'servicesPage', 'switcherId': 'status', 'currentStatus': services.ntpClient});">
                            <div ng-class="[services.ntpClient.status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"></div>
                        </div>
                        <div ng-class="[services.ntpClient.status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']">
                            ON</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>NTP server:</label></td>
                <td><input type="text" size="20" value="{{services.ntpClient.ntpServerIp}}" ng-model="services.ntpClient.ntpServerIp" ng-change="showModalWindow()" ng-disabled="!services.ntpClient.status" /></td>
            </tr>
        </table>
    </section>
</section>