<div style="display: block; width: 91%; margin-left: 8%;">
   <div style="display: inline-table;">
      <table>
	   <th style="border-style: none none dashed none; border-color: silver; border-width: 0.1em;">Web Server</th>
	   <tr>
	     <td>Web server status</td><td>
		           <table><tr><td>
					    <div id="socketSwitchLeftText_01" class="socketSwitchedOnLeftText">OFF </div></td><td>
						 <div id="socket_01" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '01');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="socketSwitchRightText_01" class="socketSwitchedOnRightText"> ON</div>
				    </td></tr>
					</table>
		 </td>
	    </tr>
		 <tr>
	     <td>HTTPS</td><td>  
 		 <table><tr><td>
					    <div id="socketSwitchLeftText_02" class="socketSwitchedOnLeftText">OFF </div></td><td>
						 <div id="socket_02" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '02');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="socketSwitchRightText_02" class="socketSwitchedOnRightText"> ON</div>
				    </td></tr>
					</table></td>
	    </tr>
		 <tr>
	     <td>HTTPS port:</td><td><input type="text" value="443"/>Range 1-65535</td>
	    </tr>
		<tr>
	     <td>HTTP port:</td><td><input type="text" value="80"/>Range 1-65535</td>
	    </tr>
		 <tr>
	     <td>session timeout:</td><td><input type="text" value="15"/> minutes</td>
	    </tr>
      </table>
   </div>
    <div style="display: inline-table; margin-left: 10%;">
      <table>
	   <th style="border-style: none none dashed none; border-color: silver; border-width: 0.1em;">SSH Server</th>
	   <tr>
	     <td>SSH server status</td><td>
		       <table><tr><td>
					    <div id="socketSwitchLeftText_03" class="socketSwitchedOnLeftText">OFF </div></td><td>
						 <div id="socket_03" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '03');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="socketSwitchRightText_03" class="socketSwitchedOnRightText"> ON</div>
				    </td></tr>
					</table>
		 </td>
	    </tr>
		 <tr>
	     <td>SSH port:</td><td><input type="text" value="22"/>Range 1-65535</td>
	    </tr>
		<tr>
	     <td>Password authentication</td><td>
		       <table><tr><td>
					    <div id="socketSwitchLeftText_04" class="socketSwitchedOnLeftText">OFF </div></td><td>
						 <div id="socket_04" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '04');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="socketSwitchRightText_04" class="socketSwitchedOnRightText"> ON</div>
				    </td></tr>
					</table>
		 </td>
	    </tr>
		 <tr>
	     <td>Authorized keys:</td><td><input type="text" value=""/></td>
	    </tr>
      </table>
   </div>
</div>
<br>
<br>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<div style="display: block; width: 91%; margin-left: 8%;">
   <div style="display: inline-table;">
      <table>
	   <th style="border-style: none none dashed none; border-color: silver; border-width: 0.1em;">SNMP Server</th>
	   <tr>
	     <td>SNMP server status</td><td>
		       <table><tr><td>
					    <div id="socketSwitchLeftText_05" class="socketSwitchedOnLeftText">OFF </div></td><td>
						 <div id="socket_05" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '05');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="socketSwitchRightText_05" class="socketSwitchedOnRightText"> ON</div>
				    </td></tr>
					</table>
		 </td>
	    </tr>
		<tr>
	     <td>SNMP version:</td><td><select><option value="1">1</option>
		                        <option value="2">2</option>
								<option value="3">3</option>
											</select> </td>
	    </tr>
	     <tr>
	     <td>SNMP type:</td><td><select><option value="RO">Read Only</option>
		                        <option value="RW">Read and Write</option>
											</select> </td>
	    </tr>
		 <tr>
	     <td>SNMP community:</td><td><input type="text" value=""/></td>
	    </tr>
		 <tr>
	     <td>contact :</td><td><input type="text" value=""/></td>
	    </tr>
		<tr>
	     <td>location :</td><td><input type="text" value=""/></td>
	    </tr>
      </table>
   </div>
    <div style="display: inline-table; margin-left: 18%;">
      <table>
	   <th style="border-style: none none dashed none; border-color: silver; border-width: 0.1em;">System log</th>
	   <tr>
	     <td>System log status</td><td>
		       <table><tr><td>
					    <div id="socketSwitchLeftText_06" class="socketSwitchedOnLeftText">OFF </div></td><td>
						 <div id="socket_06" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '06');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="socketSwitchRightText_06" class="socketSwitchedOnRightText"> ON</div>
				    </td></tr>
					</table>
		 </td>
	    </tr>
		 <tr>
		 <td>Remote log status</td><td>   
 		            <table><tr><td>
					    <div id="socketSwitchLeftText_07" class="socketSwitchedOffLeftText">OFF </div></td><td>
						 <div id="socket_07" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, '07');">
						  <div class="slideSelectorSwitchedOff"></div></div></td><td>
						    <div id="socketSwitchRightText_07" class="socketSwitchedOffRightText"> ON</div>
				    </td></tr>
					</table></td>
	    </tr>
		<tr>
	     <td>Remote log server IP:</td><td><input type="text" value="255.255.255.255"/></td>
	    </tr>
		 <tr>
	     <td>Remote log server port:</td><td><input type="text" value="519"/></td>
	    </tr>
		 <tr>
	     <td>TCP protocol</td><td>
		          <table><tr><td>
					    <div id="socketSwitchLeftText_08" class="socketSwitchedOffLeftText">OFF </div></td><td>
						 <div id="socket_08" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, '08');">
						  <div class="slideSelectorSwitchedOff"></div></div></td><td>
						    <div id="socketSwitchRightText_08" class="socketSwitchedOffRightText"> ON</div>
				    </td></tr>
					</table>
		 </td>
	    </tr>
      </table>
   </div>
</div>
<br>
<br>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<div style="display: block;  width: 91%; margin-left: 8%;">
   <div style="display: inline-table;">
      <table>
	   <th style="border-style: none none dashed none; border-color: silver; border-width: 0.1em;">Dynamic DNS</th>
	   <tr>
	     <td>Dynamic DNS status</td><td>
		        <table><tr><td>
					    <div id="socketSwitchLeftText_09" class="socketSwitchedOffLeftText">OFF </div></td><td>
						 <div id="socket_09" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, '09');">
						  <div class="slideSelectorSwitchedOff"></div></div></td><td>
						    <div id="socketSwitchRightText_09" class="socketSwitchedOffRightText"> ON</div>
				    </td></tr>
					</table>
		  </td>
	    </tr>
		 <tr>
	     <td>Service:</td><td><select><option value="dynDNS">DynDNS</option>
								<option value="0131">0131</option>
											</select> </td>
	    </tr>
		 <tr>
	     <td>Hostname:</td><td><input type="text" value=""/></td>
	    </tr>
		 <tr>
	     <td>Username:</td><td><input type="text" value=""/></td>
	    </tr>
	     <tr>
	     <td>Password:</td><td><input type="text" value=""/></td>
	    </tr>
      </table>
   </div>
    <div style="display: inline-table; margin-left: 17%;">
      <table>
	   <th style="border-style: none none dashed none; border-color: silver; border-width: 0.1em;">NTP client</th>
	   <tr>
	     <td>NTP client status</td><td>
		       <table style="margin-left: 24%;"><tr><td>
					    <div id="socketSwitchLeftText_10" class="socketSwitchedOnLeftText">OFF </div></td><td>
						 <div id="socket_10" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '10');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="socketSwitchRightText_10" class="socketSwitchedOnRightText"> ON</div>
				    </td></tr>
					</table>
		 </td>
	    </tr>
		 <tr>
	     <td>NTP server:</td><td><input type="text" value="ntp.net" style="margin-left: 23%;"/></td>
	    </tr>
      </table>
   </div>
</div>
<br>
<br>
<div id='buttonsDiv' style="display: block; width: 100%; max-width: 100%;"><div class="apply">Apply</div><div class="test">Test</div><div class="cancel">Cancel</div></div>