<section id="container" ng-controller="SettingsCtrl">
<div class="separateString">Settings</div>
<section>
    <p class="serviceHeader">System tools</p>
    <table>
        <tr>
            <td><label class="keyDataFont">Reboot device:</label></td>
            <td><button class="rebootButton">Reboot</button></td>
        </tr>
        <tr>
            <td><label>Check firmware updates:</label></td>
            <td>
                <div class="switchButtonContainer">
                    <div ng-class="[settings.systemTools.firmware.checkUpdate ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']"
                    >OFF </div>
                      <div ng-class="[settings.systemTools.firmware.checkUpdate ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']"
                         ng-click="turnOnOff(settings, {'switcherFor': 'settingsPage', 'switcherId': 'checkUpdate', 'currentStatus': settings.systemTools.firmware});">
                            <div ng-class="[settings.systemTools.firmware.checkUpdate ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"
                            ></div>
                      </div>
                    <div ng-class="[settings.systemTools.firmware.checkUpdate ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']"
                    > ON</div>
            </div>
            </td>
        </tr>
        <tr>
            <td><label>Build:</label></td>
            <td><span class="deviceInfo">{{settings.systemTools.firmware.build}}</span></td>
        </tr>
        <tr>
            <td><label>Firmware Version:</label></td>
            <td><span class="deviceInfo">{{settings.systemTools.firmware.version}}</span></td>
        </tr>
        <tr>
            <td><label>Upload firmware:</label></td>
            <td><input type="file" /></td>
        </tr>
    </table>
</section>
<section>
    <p class="serviceHeader">Configuration Management</p>
    <table>
        <tr>
            <td><label>Backup configuration:</label></td>
            <td><input type="file" /></td>
        </tr>
        <tr>
            <td><label>Load Configuration:</label></td>
            <td><input type="file" /></td>
        </tr>
        <tr>
            <td><label>Reset to Factory Defaults:</label></td>
            <td><button class="rebootButton">Reset</button></td>
        </tr>
    </table>
</section>
<section>
    <p class="serviceHeader">Miscellaneous</p>
    <table>
        <tr>
            <td><label>Reset Button:</label></td>
            <td>
                <div class="switchButtonContainer">
                    <div ng-class="[settings.miscellaneous.resetButtonStatus ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']"
                    >OFF </div>
                      <div ng-class="[settings.miscellaneous.resetButtonStatus ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']"
                         ng-click="turnOnOff(settings, {'switcherFor': 'settingsPage', 'switcherId': 'resetButtonStatus', 'currentStatus': settings.miscellaneous});">
                            <div ng-class="[settings.miscellaneous.resetButtonStatus ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"
                            ></div>
                      </div>
                    <div ng-class="[settings.miscellaneous.resetButtonStatus ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']"
                    > ON</div>
            </div>
            </td>
        </tr>
    </table>
</section>
<section>
    <p class="serviceHeader">Account Management</p>
    <table>
        <tr>
            <td><label>Read-Only account:</label></td>
            <td><input type="text" size="5" value="{{settings.accountManagement.readOnlyAccount}}" ng-model="settings.accountManagement.readOnlyAccount" ng-change="showModalWindow()"/></td>
        </tr>
        <tr>
            <td><label>Read-Write account:</label></td>
            <td><input type="text" size="5" value="{{settings.accountManagement.readWriteAccount}}" ng-model="settings.accountManagement.readWriteAccount" ng-change="showModalWindow()"/></td>
        </tr>
    </table>
</section>
<section>
    <p class="serviceHeader">Location</p>
    <table>
        <tr>
            <td><label>Latitude:</label></td>
            <td><input type="text" size="5" value="{{settings.location.latitude}}" ng-model="settings.location.latitude" ng-change="showModalWindow()"/></td>
        </tr>
        <tr>
            <td><label>Longitude:</label></td>
            <td><input type="text" size="5" value="{{settings.location.longitude}}" ng-model="settings.location.longitude" ng-change="showModalWindow()"/></td>
        </tr>
        <tr>
            <td><label>Address:</label></td>
            <td><input type="text" size="5" value="{{settings.location.address}}" ng-model="settings.location.address" ng-change="showModalWindow()"/></td>
        </tr>
        <tr>
            <td><label>Comment:</label></td>
            <td><textarea rows="2" cols="20" ng-model="settings.location.comment" ng-change="showModalWindow()">{{settings.location.comment}}</textarea></td>
        </tr>
    </table>
</section>
<section>
    <p class="serviceHeader">Date</p>
    <table>
        <tr>
            <td><label>Time Zone:</label></td>
            <td><select ng-model="settings.date.currentTimeZone" ng-change="showModalWindow()" ng-options="timezone for timezone in settings.date.timeZones"></select>
            </td>
        </tr>
        <tr>
            <td><label>Startup Date:</label></td>
            <td>
             <div class="switchButtonContainer">
                    <div ng-class="[settings.date.startupDateStatus ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']"
                    >OFF </div>
                      <div ng-class="[settings.date.startupDateStatus ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']"
                         ng-click="turnOnOff(settings, {'switcherFor': 'settingsPage', 'switcherId': 'startupDateStatus', 'currentStatus': settings.date});">
                            <div ng-class="[settings.date.startupDateStatus ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"
                            ></div>
                      </div>
                    <div ng-class="[settings.date.startupDateStatus ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']"
                    > ON</div>
            </div>
            </td>
        </tr>
        <tr>
            <td><label>Start Date:</label></td>
            <td><input type="text" size="20" value="{{settings.date.startDate}}" ng-model="settings.date.startDate" ng-change="showModalWindow()" ng-disabled="!settings.date.startupDateStatus"/></td>
        </tr>
    </table>
</section>
</section>