<div style="display: block; width: 91%; margin-left: 8%;">
   <div style="display: inline-table;">
      <table>
	   <th style="border-style: none none dashed none; border-color: silver; border-width: 0.1em;">System tools</th>
	   <tr>
	     <td class="keyDataFont">Reboot device:</td><td><div class="rebootButton" style="width: 40%; text-align: center;"onmouseenter="this.className = 'rebootButton rebootButtonHover';" onmouseleave="this.className = 'rebootButton';">Reboot</div></td>
	    </tr>
		 <tr>
	     <td>Check firmware updates:</td><td>  
 		 <table><tr><td>
					    <div id="socketSwitchLeftText_02" class="socketSwitchedOnLeftText">OFF </div></td><td>
						 <div id="socket_02" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '02');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="socketSwitchRightText_02" class="socketSwitchedOnRightText"> ON</div>
				    </td></tr>
					</table></td>
	    </tr>
		 <tr>
	     <td>Build:</td><td>1423</td>
	    </tr>
		<tr>
	     <td>Firmware Version:</td><td>1.04.32 ZD</td>
	    </tr>
		 <tr>
	     <td>Upload firmware:</td><td><input type="file"/></td>
	    </tr>
      </table>
   </div>
    <div style="display: inline-table; margin-left: 10%;">
      <table>
	   <th style="border-style: none none dashed none; border-color: silver; border-width: 0.1em;">Account Management</th>

		 <tr>
	     <td>Read-Only account:</td><td><input type="text" value=""/></td>
	    </tr>
		
		 <tr>
	     <td>Read-Write account:</td><td><input type="text" value="admin"/></td>
	    </tr>
      </table>
   </div>
</div>
<br>
<br>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<div style="display: block; width: 91%; margin-left: 8%;">
   <div style="display: inline-table;">
         <table>
	   <th style="border-style: none none dashed none; border-color: silver; border-width: 0.1em;">Configuration Management</th>

		<tr>
	     <td>Back UP configuration:</td><td><input type="file" name="backup"/></td>
	    </tr>
		 <tr>
	     <td>Load Configuration:</td><td><input type="file" value="load" alt="load"/></td>
	    </tr>
		<tr ><td ><br><br></td></tr>
		 <tr>
	     <td>Reset to Factory Defaults:</td><td><div class="cancel" onmouseenter="this.className = 'cancel cancelHover';" onmouseleave="this.className = 'cancel';" style="margin-left: 0%;">Reset</div></td>
	    </tr>
      </table>
   </div>
    <div style="display: inline-table; margin-left: 7%;">
       <table>
	   <th style="border-style: none none dashed none; border-color: silver; border-width: 0.1em;">Location</th>
		 <tr>
	     <td>Latitude:</td><td><input type="text" value=""/></td>
	    </tr>
		 <tr>
	     <td>Longitude :</td><td><input type="text" value=""/></td>
	    </tr>
		<tr>
	     <td>Address:</td><td><input type="text" value=""/></td>
	    </tr>
		<tr>
	     <td>Comment:</td><td><textarea rows="2" cols="20"></textarea></td>
	    </tr>
      </table>
   </div>
</div>
<br>
<br>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<div style="display: block;  width: 91%; margin-left: 8%;">
   <div style="display: inline-table;">
       <table>
	   <th style="border-style: none none dashed none; border-color: silver; border-width: 0.1em;">Miscellaneous</th>
	   
		 <tr>
	     <td>Reset Button: </td><td><table><tr><td>
					    <div id="socketSwitchLeftText_03" class="socketSwitchedOffLeftText">OFF </div></td><td>
						 <div id="socket_03" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, '03');">
						  <div class="slideSelectorSwitchedOff"></div></div></td><td>
						    <div id="socketSwitchRightText_03" class="socketSwitchedOffRightText"> ON</div>
				    </td></tr>
					</table></td>
	    </tr>
      </table>
   </div>
    <div style="display: inline-table; margin-left: 27%;">
	  <table>
	   <th style="border-style: none none dashed none; border-color: silver; border-width: 0.1em;">Date</th>
		 <tr>
	     <td>Time Zone:</td><td><select><option value="dynDNS">GMT +02:00 Kyiv</option>
								<option value="0131">GMT 00:00 London</option>
											</select> </td>
	    </tr>
		 <tr>
	     <td>Startup Date:</td><td>
		        <table><tr><td>
					    <div id="socketSwitchLeftText_09" class="socketSwitchedOffLeftText">OFF </div></td><td>
						 <div id="socket_09" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, '09');">
						  <div class="slideSelectorSwitchedOff"></div></div></td><td>
						    <div id="socketSwitchRightText_09" class="socketSwitchedOffRightText"> ON</div>
				    </td></tr>
					</table>
		  </td>
	    </tr>
		 <tr>
	     <td>Start Date:</td><td><input type="text" value=""/></td>
	    </tr>
      </table>
   </div>
</div>
<br>
<br>
<div id='buttonsDiv' style="display: block; width: 100%; max-width: 100%;"><div class="apply">Apply</div><div class="test">Test</div><div class="cancel">Cancel</div></div>