    <table id="mainSocketsData"><tr><td><div class="separateString">Sockets</div></td></tr>
    <tr><td>
	 <table id="fdf"  cellspacing="0" style="width: 100%; height: 100%; table-layout: fixed; border: solid; ">
	  <!--first socket-->
	   <tr>
	    <td>
	    <table style="width: 100%; height: 100%; border-bottom: dotted 0.1em blue;">
		 <tr>
		 <td style="">
	     <td style="text-align: center; width: 15%;"><img src="assets/img/c13_socketOrange.png" class="c13Socket"/>
	         <!--div class="c13SocketCover" style="margin-top: -5.7%; margin-left: 3.6%;"></div-->
			</td>
			<td style="width: 85%;">
			 <table style="width: 100%; height: 100%;">
			   <tr><td style="width: 5%; text-align: center; border-style: dashed; border-width: 0.15em; border-color: #2A2252;"><span style="font-weight: 700; font-size: 115%;">№ 1</span></td><td class="staticRight keyDataFont" style="width: 12%;">Status:</td><td id="socketStatus_01" class="staticLeft keyDataFont positiveStatus" style="width: 5%;">ON</td><td class="staticRight keyDataFont" style="width: 15%;">Current:</td><td class="staticLeft keyDataFont" style="width: 15%;">---</td><td class="staticLeft keyDataFont" style="width: 24%;">Rules:</td><td class="staticLeft keyDataFont" style="width: 24%;">Schedules:</td></tr>
			    <tr><td style="text-align: center; font-weight: 700;"></td><td class="staticRight">Turning: </td><td style="staticCenter"> 
				<table><tr><td>
					    <div id="socketSwitchLeftText_01" class="socketSwitchedOnLeftText">OFF </div></td><td>
						 <div id="socket_01" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '01');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="socketSwitchRightText_01" class="socketSwitchedOnRightText"> ON</div>
				    </td></tr>
					</table>
				 </td><td class="staticRight keyDataFont" style="border-left: dashed 0.1em grey;">Voltage:</td><td class="staticLeft keyDataFont">---</td><td class="staticCenter" style="border-left: dashed 0.1em grey;">No rules</td><td class="staticCenter" style="border-left: dashed 0.1em grey;">3 schedule</td></tr>
				 <tr><td style="text-align: left; font-weight: 700;"><div id="rebootSocketButton_01" class="rebootButton" onmouseover="addEditButtonHover(this.id, 'up');" onmouseleave="addEditButtonHover(this.id, 'down');">Reboot</div></td><td class="staticRight">Cable:</td><td class="staticLeft keyDataFont negativeStatus">Unplaged</td><td class="staticRight keyDataFont">Consumption:</td><td class="staticLeft keyDataFont">---</td><td class="staticCenter"><div id="addNewSocketRule_01" class="addEditButton" onmouseover="addEditButtonHover(this.id, 'up');" onmouseleave="addEditButtonHover(this.id, 'down');">Add new rule</div></td><td style="text-align: centet;"><div id="addNewSocketSchedule_01" class="addEditButton" onmouseover="addEditButtonHover(this.id, 'up');" onmouseleave="addEditButtonHover(this.id, 'down');">Add/Edit all</div></td></tr>
				  <!--tr><td class="staticCenter">UnPluged</td><td colspan="2" class="staticCenter">More stats</td><td></td></tr-->
			  </table>
			  </td>
			    </td>
			  </tr>
			  </table>
			  </td>
			</tr>
		<!--end first socket-->	
		<tr>
	    <td>
	    <table style="width: 100%; height: 100%; border-bottom: dotted 0.1em blue;">
		 <tr>
		 <td style="">
	     <td style="text-align: center; width: 15%;"><img src="assets/img/c13_socketGreen.png" class="c13Socket"/>
	         <!--div class="c13SocketCover" style="margin-top: -5.7%; margin-left: 3.6%;"></div-->
			</td>
			<td style="width: 85%;">
			 <table style="width: 100%; height: 100%;">
			   <tr><td style="width: 5%; text-align: center; border-style: dashed; border-width: 0.15em; border-color: #2A2252;"><span style="font-weight: 700; font-size: 115%;">№ 2</span></td><td class="staticRight keyDataFont" style="width: 12%;">Status:</td><td id="socketStatus_02" class="staticLeft keyDataFont positiveStatus" style="width: 5%;">ON</td><td class="staticRight keyDataFont" style="width: 15%;">Current:</td><td class="staticLeft keyDataFont" style="width: 15%;">0,7 A</td><td class="staticLeft keyDataFont" style="width: 24%;">Rules:</td><td class="staticLeft keyDataFont" style="width: 24%;">Schedules:</td></tr>
			    <tr><td style="text-align: center; font-weight: 700;"></td><td class="staticRight">Turning: </td><td style="staticCenter">
				   <table><tr><td>
					    <div id="socketSwitchLeftText_02" class="socketSwitchedOnLeftText">OFF </div></td><td>
						 <div id="socket_02" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '02');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="socketSwitchRightText_02" class="socketSwitchedOnRightText"> ON</div>
				    </td></tr>
					</table>
				</td><td class="staticRight keyDataFont" style="border-left: dashed 0.1em grey;">Voltage:</td><td class="staticLeft ">220 V</td><td class="staticCenter" style="border-left: dashed 0.1em grey;">No rules</td><td class="staticCenter" style="border-left: dashed 0.1em grey;">3 schedule</td></tr>
				 <tr><td style="text-align: left; font-weight: 700;"><div id="rebootSocketButton_02" class="rebootButton" onmouseover="addEditButtonHover(this.id, 'up');" onmouseleave="addEditButtonHover(this.id, 'down');">Reboot</div></td><td class="staticRight">Cable:</td><td class="staticLeft keyDataFont positiveStatus">Plaged</td><td class="staticRight keyDataFont">Consumption:</td><td class="staticLeft keyDataFont">154 W</td><td class="staticCenter"><div id="addNewSocketRule_02" class="addEditButton" onmouseover="addEditButtonHover(this.id, 'up');" onmouseleave="addEditButtonHover(this.id, 'down');">Add new rule</div></td><td style="text-align: centet;"><div id="addNewSocketSchedule_02" class="addEditButton" onmouseover="addEditButtonHover(this.id, 'up');" onmouseleave="addEditButtonHover(this.id, 'down');">Add/Edit all</div></td></tr>
				  <!--tr><td class="staticCenter">UnPluged</td><td colspan="2" class="staticCenter">More stats</td><td></td></tr-->
			  </table>
			  </td>
			    </td>
			  </tr>
			  </table>
			  </td>
			</tr>
 	<tr>
	    <td>
	    <table style="width: 100%; height: 100%; border-bottom: dotted 0.1em blue;">
		 <tr>
		 <td style="">
	     <td style="text-align: center; width: 15%;"><img src="assets/img/c13_socketBlack.png" class="c13Socket"/>
	         <!--div class="c13SocketCover" style="margin-top: -5.7%; margin-left: 3.6%;"></div-->
			</td>
			<td style="width: 85%;">
			 <table style="width: 100%; height: 100%;">
			   <tr><td style="width: 5%; text-align: center; border-style: dashed; border-width: 0.15em; border-color: #2A2252;"><span style="font-weight: 700; font-size: 115%;">№ 3</span></td><td class="staticRight keyDataFont" style="width: 12%;">Status:</td><td id="socketStatus_03" class="staticLeft keyDataFont negativeStatus" style="width: 5%;">OFF</td><td class="staticRight keyDataFont" style="width: 15%;">Current:</td><td class="staticLeft keyDataFont" style="width: 15%;">---</td><td class="staticLeft keyDataFont" style="width: 24%;">Rules:</td><td class="staticLeft keyDataFont" style="width: 24%;">Schedules:</td></tr>
			    <tr><td style="text-align: center; font-weight: 700;"></td><td class="staticRight">Turning: </td><td style="staticCenter">
				    <table><tr><td>
					    <div id="socketSwitchLeftText_03" class="socketSwitchedOffLeftText">OFF </div></td><td>
						 <div id="socket_03" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, '03');">
						  <div class="slideSelectorSwitchedOff"></div></div></td><td>
						    <div id="socketSwitchRightText_03" class="socketSwitchedOffRightText"> ON</div>
				    </td></tr>
					</table> 
					</td><td class="staticRight keyDataFont" style="border-left: dashed 0.1em grey;">Voltage:</td><td class="staticLeft keyDataFont">---</td><td class="staticCenter" style="border-left: dashed 0.1em grey;">No rules</td><td class="staticCenter" style="border-left: dashed 0.1em grey;">3 schedule</td></tr>
				 <tr><td style="text-align: left; font-weight: 700;"><div id="rebootSocketButton_03" class="rebootButton" onmouseover="addEditButtonHover(this.id, 'up');" onmouseleave="addEditButtonHover(this.id, 'down');">Reboot</div></td><td class="staticRight">Cable:</td><td class="staticLeft keyDataFont negativeStatus">Unplaged</td><td class="staticRight keyDataFont">Consumption:</td><td class="staticLeft keyDataFont">---</td><td class="staticCenter"><div id="addNewSocketRule_03" class="addEditButton" onmouseover="addEditButtonHover(this.id, 'up');" onmouseleave="addEditButtonHover(this.id, 'down');">Add new rule</div></td><td style="text-align: centet;"><div id="addNewSocketSchedule_03" class="addEditButton" onmouseover="addEditButtonHover(this.id, 'up');" onmouseleave="addEditButtonHover(this.id, 'down');">Add/Edit all</div></td></tr>
				  <!--tr><td class="staticCenter">UnPluged</td><td colspan="2" class="staticCenter">More stats</td><td></td></tr-->
			  </table>
			  </td>
			    </td>
			  </tr>
			  </table>
			  </td>
			</tr>
			<tr>
	    <td>
	    <table style="width: 100%; height: 100%; border-bottom: dotted 0.1em blue;">
		 <tr>
		 <td style="">
	     <td style="text-align: center; width: 15%;"><img src="assets/img/c13_socketRed.png" class="c13Socket"/>
	         <!--div class="c13SocketCover" style="margin-top: -5.7%; margin-left: 3.6%;"></div-->
			</td>
			<td style="width: 85%;">
			 <table style="width: 100%; height: 100%;">
			   <tr><td style="width: 5%; text-align: center; border-style: dashed; border-width: 0.15em; border-color: #2A2252;"><span style="font-weight: 700; font-size: 115%;">№ 4</span></td><td class="staticRight keyDataFont" style="width: 12%;">Status:</td><td><div id="socketStatus_04" class="staticLeft keyDataFont negativeStatus" style="width: 5%;">OFF</div></td>
			     <td class="staticRight keyDataFont" style="width: 15%;">Current:</td><td class="staticLeft keyDataFont" style="width: 15%;">---</td><td class="staticLeft keyDataFont" style="width: 24%;">Rules:</td><td class="staticLeft keyDataFont" style="width: 24%;">Schedules:</td></tr>
			    <tr><td style="text-align: center; font-weight: 700;"></td><td class="staticRight">Turning: </td><td style="staticCenter">		
				     <table><tr><td>
					    <div id="socketSwitchLeftText_04" class="socketSwitchedOffLeftText">OFF </div></td><td>
						 <div id="socket_04" class="slideSwitchBoxOff" onclick="turnOnOrOff(this.id, '04');">
						  <div class="slideSelectorSwitchedOff"></div></div></td><td>
						    <div id="socketSwitchRightText_04" class="socketSwitchedOffRightText"> ON</div>
				    </td></tr></table> 
			     </td><td class="staticRight keyDataFont" style="border-left: dashed 0.1em grey;">Voltage:</td><td class="staticLeft keyDataFont">---</td><td class="staticCenter" style="border-left: dashed 0.1em grey;">No rules</td><td class="staticCenter" style="border-left: dashed 0.1em grey;">3 schedule</td></tr>
				 <tr><td style="text-align: left; font-weight: 700;"><div id="rebootSocketButton_04" class="rebootButton" onmouseover="addEditButtonHover(this.id, 'up');" onmouseleave="addEditButtonHover(this.id, 'down');">Reboot</div></td><td class="staticRight">Cable:</td><td class="staticLeft keyDataFont positiveStatus">Plaged</td><td class="staticRight keyDataFont">Consumption:</td><td class="staticLeft keyDataFont">---</td><td class="staticCenter"><div id="addNewSocketRule_04" class="addEditButton" onmouseover="addEditButtonHover(this.id, 'up');" onmouseleave="addEditButtonHover(this.id, 'down');">Add new rule</div></td><td style="text-align: centet;"><div id="addNewSocketSchedule_04" class="addEditButton" onmouseover="addEditButtonHover(this.id, 'up');" onmouseleave="addEditButtonHover(this.id, 'down');">Add/Edit all</div></td></tr>
				  <!--tr><td class="staticCenter">UnPluged</td><td colspan="2" class="staticCenter">More stats</td><td></td></tr-->
			  </table>
			  </td>
			    </td>
			  </tr>
			  </table>
			  </td>
			</tr>
			<tr>
	    <td>
	    <table style="width: 100%; height: 100%; border-bottom: dotted 0.1em blue;">
		 <tr>
		 <td style="">
	     <td style="text-align: center; width: 15%;"><img src="assets/img/c13_socketGreen.png" class="c13Socket"/>
	         <!--div class="c13SocketCover" style="margin-top: -5.7%; margin-left: 3.6%;"></div-->
			</td>
			<td style="width: 85%;">
			 <table style="width: 100%; height: 100%;">
			   <tr><td style="width: 5%; text-align: center; border-style: dashed; border-width: 0.15em; border-color: #2A2252;"><span style="font-weight: 700; font-size: 115%;">№ 5</span></td><td class="staticRight keyDataFont" style="width: 12%;">Status:</td><td id="socketStatus_05" class="staticLeft keyDataFont positiveStatus" style="width: 5%;">ON</td><td class="staticRight keyDataFont" style="width: 15%;">Current:</td><td class="staticLeft keyDataFont" style="width: 15%;">1,5 A</td><td class="staticLeft keyDataFont" style="width: 24%;">Rules:</td><td class="staticLeft keyDataFont" style="width: 24%;">Schedules:</td></tr>
			    <tr><td style="text-align: center; font-weight: 700;"></td><td class="staticRight">Turning: </td><td style="staticCenter">   
				<table><tr><td>
					    <div id="socketSwitchLeftText_05" class="socketSwitchedOnLeftText">OFF </div></td><td>
						 <div id="socket_05" class="slideSwitchBoxOn" onclick="turnOnOrOff(this.id, '05');">
						  <div class="slideSelectorSwitchedOn"></div></div></td><td>
						    <div id="socketSwitchRightText_05" class="socketSwitchedOnRightText"> ON</div>
				    </td></tr>
					</table>
					</td><td class="staticRight keyDataFont" style="border-left: dashed 0.1em grey;">Voltage:</td><td class="staticLeft ">220 V</td><td class="staticCenter" style="border-left: dashed 0.1em grey;">No rules</td><td class="staticCenter" style="border-left: dashed 0.1em grey;">3 schedule</td></tr>
				 <tr><td style="text-align: left; font-weight: 700;"><div id="rebootSocketButton_05" class="rebootButton" onmouseover="addEditButtonHover(this.id, 'up');" onmouseleave="addEditButtonHover(this.id, 'down');">Reboot</div></td><td class="staticRight">Cable:</td><td class="staticLeft keyDataFont positiveStatus">Plaged</td><td class="staticRight keyDataFont">Consumption:</td><td class="staticLeft keyDataFont">330 W</td><td class="staticCenter"><div id="addNewSocketRule_05" class="addEditButton" onmouseover="addEditButtonHover(this.id, 'up');" onmouseleave="addEditButtonHover(this.id, 'down');">Add new rule</div></td><td style="text-align: centet;"><div id="addNewSocketSchedule_05" class="addEditButton" onmouseover="addEditButtonHover(this.id, 'up');" onmouseleave="addEditButtonHover(this.id, 'down');">Add/Edit all</div></td></tr>
				  <!--tr><td class="staticCenter">UnPluged</td><td colspan="2" class="staticCenter">More stats</td><td></td></tr-->
			  </table>
			  </td>
			    </td>
			  </tr>
			  </table>
			  </td>
			</tr>
         <!--end all sockets-->			
	   <!--tr><td class="staticLeft">Socket status:</td><td class="staticRight">Enabled</td></tr>
	   <tr><td class="staticLeft">Circuit status:</td><td class="staticRight">Pluged</td></tr-->
	  </table>
	 </td>
	 </tr>
    </table>