<section id="container" ng-controller="SocketsCtrl">
<div class="separateString">Sockets</div>
<div class="socketsContainer" ng-repeat="socket in sockets">
    <section class="socketStatusImageBlock">
        <img ng-src="{{[{'status': socket.status, 'cableStatus': socket.cableStatus}] | setSocketsRightImageByStatus}}" class="c13Socket" />
        <span class="socketNumber">№ {{socket.number}}</span>
        <button id="rebootSocketButton_01" class="rebootButton2" ng-click="$emit('myEvent')">Reboot</button>
    </section>
    <section class="socketSwitcher">
        <div>
            <ul>
                <li><span class="staticRight keyDataFont">Status:</span></li>
                <li><span class="staticRight rowColor">Turning: </span></li>
                <li><span class="staticRight rowColor">Cable:</span></li>
            </ul>
            <ul>
                <li><span ng-class="socket.status ? 'socketStatusTextOn' : 'socketStatusTextOff'">{{[{"page": "sockets", 
					"status": socket.status,"statusType": "textOnOff"}] | boolToText}}</span></li>
                <li>
                    <div class="switchButtonContainer">
                        <div ng-class="[sockets[$index].status ? 'socketSwitchedOnLeftText': 'socketSwitchedOffLeftText']"
                        >OFF </div>
                          <div ng-class="[sockets[$index].status ? 'slideSwitchBoxOn' : 'slideSwitchBoxOff']"
                             ng-click="turnOnOff(sockets, {'switcherFor': 'sockets', 'switcherId': $index, 'currentStatus': sockets[$index].status});">
                                <div ng-class="[sockets[$index].status ? 'slideSelectorSwitchedOn' : 'slideSelectorSwitchedOff']"
                                ></div>
                          </div>
                        <div ng-class="[sockets[$index].status ? 'socketSwitchedOnRightText': 'socketSwitchedOffRightText']"
                        > ON</div>
                </div>
                </li>
                <li><span ng-class="['staticLeft', 'keyDataFont', socket.cableStatus ? 'positiveStatus' : 'negativeStatus']">{{[{"page": "sockets", 
					"status": socket.cableStatus,"statusType": "text"}] | boolToText}}</span></li>
            </ul>
        </div>
    </section>
    <section class="socketCurrentStat">
        <div>
            <ul>
                <li>Current:</li>
                <li>Voltage:</li>
                <li>Consumption:</li>
            </ul>
            <ul>
                <li>{{socket.status && socket.cableStatus ? socket.stat.current+' A': '---'}}</li>
                <li>{{socket.status && socket.cableStatus ? socket.outVoltageType+' - '+socket.stat.voltage+' V': '---'}}</li>
                <li>{{socket.status && socket.cableStatus ? (socket.stat.current*socket.stat.voltage)+' W' : '---'}}</li>
            </ul>
        </div>
    </section>
    <section class="socketStatCharts">
        <div>
            <ul class="keyDataFont">
                <li><span class="rowColor">Comment:</span><textarea rows="1" cols="1" ng-model="socket.comment" ng-change="showHideButtons($index)">{{socket.comment}}</textarea></li>
                <li><button class="addEditButton2">Commutation stat</button></li>
                <li><button class="addEditButton2">Power stat</button></li>
            </ul>
            <ul class="hidden-buttons-container" ng-show="hiddenButtonsFlag && hiddenSocketIndex==$index">
                <li><button class="hidden-button-apply" ng-click="saveStateChanges()">Save</button></li>
                <li><button class="hidden-button-cancel" ng-click="cancelStateChanges()">Cancel</button></li>
            </ul>
        </div>
    </section>
    <section class="socketRulesSchedules">
        <div>
            <ul>
                <li><span>Schedules: ({{socket.schedules.count}})</span></li>
                <li><span>Rules ({{socket.schedules.count}})</span></li>
            </ul>
            <ul>
                <li><button class="addEditButton2">Edit/Add</button></li>
                <li><button class="addEditButton2">Add</button></li>
            </ul>
            <div><button id="addNewSocketSchedule_01" class="addEditButton2">Execution log</button></div>
        </div>
    </section>
</div>
</section>